<h3>{{ heading_title }}</h3>
<div class="row{% if axis == 'vertical' %} row-cols-sm-1 row-cols-md-2{% endif %}">
  {% for product in products %}
    <div class="col">{{ product }}</div>
  {% endfor %}
</div>
