<h3>{{ heading_title }}</h3>
<div class="row{% if axis == 'horizontal' %}row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-{% endif %}">
  {% for product in products %}
    <div class="col">{{ product }}</div>
  {% endfor %}
</div>
