<h3>{{ heading_title }}</h3>
<div class="row">
  {% for product in products %}
    <div class="product-layout product-module col-lg-3 col-md-3 col-sm-6 col-12">{{ product }}</div>
  {% endfor %}
</div>
