<div class="card mb-3">
  <div class="card-header"><i class="fa-solid fa-globe"></i> {{ heading_title }}</div>
  <div class="card-body">
    <div id="vmap" style="width: 100%; height: 260px;"></div>
  </div>
</div>