<div class="search">
  <h4>{{ text_search }}</h4>

  <div id="article-search" class="input-group">
    <input type="text" name="article_search" value="{{ keywords }}" placeholder="{{ text_search }}" class="form-control input-lg">
    <span class="input-group-btn">
      <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
    </span>
  </div>

</div>
