<div id="modal-notification" class="modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="far fa-bell"></i> {{ heading_title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"><span>&times;</span></button>
      </div>
      <div class="modal-body">{{ message }}</div>
    </div>
  </div>
</div>