{% if products %}
  <h3>{{ text_related }}</h3>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
    {% for product in products %}
      <div class="col mb-3">{{ product }}</div>
    {% endfor %}
  </div>
{% endif %}