# Auto detect text files and perform LF normalization
# download from zip unix
# dev on window os
# * text=auto

# Ignore specific directories / files when using export
/tests export-ignore
.gitattributes export-ignore
.gitignore export-ignore
