services:
    -
        class: \Tools\PHPStan\RegistryPropertyReflectionExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
parameters:
    level: 4
    paths:
        - ./upload/
    excludePaths:
        - ./system/storage/vendor/
        - ./upload/system/storage/vendor/
    tmpDir: .cache
    ignoreErrors:
        - '#^Access to an undefined property Opencart\\System\\Engine\\Proxy<Opencart\\Catalog\\Model\\Checkout\\Cart>::\$getTotals\.$#'
        - '# always exists and is not #'
        - '#^Call to an undefined method object::[a-zA-Z]+\(\)\.$#'
        - '#^Constant [A-Z_]+ not found\.$#'
        - '#^Empty array passed to foreach\.$#'
        - '# is always false\.$#'
        - '# is always true\.$#'
        - '#^Method .* is unused\.$#'
        - '#^Variable \$\S+ might not be defined\.$#'
