parameters:
    level: 0
    paths:
        - ./upload/
    excludePaths:
        - ./system/storage/vendor/
        - ./upload/system/storage/vendor/
        - ./upload/catalog/controller/extension/payment/wechat_pay.php
    tmpDir: .cache
    ignoreErrors:
        - '#Class Event constructor invoked with 1 parameter, 4-5 required\.#'
