<h1>{{ heading_title }}</h1>
<div class="row">

  {% if !logged || config_checkout_payment_address || shipping %}
  <div class="col-md-7 mb-3">
    {% if !logged %}
    <checkout-register></checkout-register>
    {% endif %}

    {% if logged && config_checkout_payment_address %}
    <checkout-payment-address id="checkout-payment-address"></checkout-payment-address>
    {% endif %}

    {% if logged && shipping %}
    <checkout-shipping-address id="checkout-shipping-address"></checkout-shipping-address>
    {% endif %}
  </div>
  {% endif %}

  <div class="col">
    {% if shipping %}
    <checkout-shipping-method id="checkout-shipping-method"></checkout-shipping-method>
    {% endif %}

    <checkout-payment-method id="checkout-payment-method"></checkout-payment-method>

    <checkout-confirm id="checkout-confirm"></checkout-confirm>
  </div>


</div>