<fieldset>
  <legend>{{ text_captcha }}</legend>
  <div class="mb-3 required">
    <label for="input-captcha" class="form-label" id="input-captcha">{{ entry_captcha }}</label> <input type="text" name="captcha" value="" class="form-control mb-1"/>
    <div id="captcha">
      <img src="index.php?route=extension/opencart/captcha/basic.captcha" alt=""/>
    </div>
    <div class="invalid-feedback" id="error-captcha"></div>
  </div>
</fieldset>