<footer>
  <div class="container text-center"><a href="https://www.opencart.com/?utm_source=opencart_install&utm_medium=footer_link&utm_campaign=opencart_install" target="_blank">{{ text_project }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://docs.opencart.com/?utm_source=opencart_install&utm_medium=footer_link&utm_campaign=opencart_install" target="_blank">{{ text_documentation }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://forum.opencart.com/?utm_source=opencart_install&utm_medium=footer_link&utm_campaign=opencart_install" target="_blank">{{ text_support }}</a></div>
</footer>
</div>
</body>
</html>
