<footer>
  <div class="container"><a href="http://myopencart.com" target="_blank">{{ text_project }}</a>|<a href="http://docs.myopencart.com" target="_blank">{{ text_documentation }}</a>|<a href="https://opencartforum.com" target="_blank">{{ text_support }}</a><br />
    </div>
</footer>
</body></html>