    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <ul>
              <li><a href="https://www.opencart.com" target="_blank">{{ text_project }}</a></li>
              <li><a href="http://www.opencart.com/index.php?route=documentation/introduction" target="_blank">{{ text_documentation }}</a></li>
              <li><a href="https://forum.opencart.com" target="_blank">{{ text_support }}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>

</html>
