node_modules
.DS_Store
.idea
/sftp-config.json
static
static-single

/vendor
/build
.phpunit.result.cache
.phpunit.cache
.php_cs.cache
.php-cs-fixer.cache
coverage.xml
coverage.clover
test-report.xml

.yarn/cache
.yarn/*.gz

/prettier.config.js
/.eslintrc.js
/stylelint.config.js
