@import "../fonts/fontawesome/css/all.min.css";

// Custom OpenCart variables
$blue: #229ac8;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #da4f49;
$orange: #fd7e14;
$yellow: #faa732;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$enable-caret: false;
$line-height-base: 1.8;
$input-btn-padding-y: .35rem;
$border-radius: .25rem;
$border-radius-sm: .2rem;
$border-radius-lg: .3rem;
$border-radius-xl: .3rem;
$border-radius-2xl: .3rem;
$font-size-base: .8125rem;
// $line-height-base:                   1.4;
$carousel-control-color: rgba(0, 0, 0, 0.8);
$carousel-control-width: 30px;
$carousel-indicator-width: 9px;
$carousel-indicator-height: 9px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer: 5px;
$carousel-indicator-opacity: .5;
$carousel-indicator-active-bg: rgba(0, 0, 0, 0.9);
$carousel-indicator-active-opacity: .9;
$min-contrast-ratio: 4.5;
$link-decoration: none;

@import "scss/bootstrap";

h1, h2, h3, h4, h5, h6 {
  color: #444;
}

legend {
  padding: 7px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

label {
  font-size: 12px;
  font-weight: normal;
}

/* Chrome border line */
button:focus {
  outline: none !important;
}

#alert {
  z-index: 9999;
  position: fixed;
  top: 30%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
}

@media (min-width: 992px) {
  #alert {
    width: 600px;
    margin-left: -300px;
  }
}

@media (min-width: 1140px) {
  #alert {
    width: 600px;
    margin-left: -300px;
  }
}

@media (min-width: 1320px) {
  #alert {
    width: 600px;
    margin-left: -300px;
  }
}

#alert .alert {
  margin-bottom: 15px;
}

#alert .alert-primary {
  box-shadow: 0 0 0 5px rgb(var(--bs-primary-rgb), 0.1);
}

#alert .alert-secondary {
  box-shadow: 0 0 0 5px rgb(var(--bs-secondary-rgb), 0.1);
}

#alert .alert-success {
  box-shadow: 0 0 0 5px rgb(var(--bs-success-rgb), 0.1);
}

#alert .alert-warning {
  box-shadow: 0 0 0 5px rgb(var(--bs-warning-rgb), 0.1);
}

#alert .alert-danger {
  box-shadow: 0 0 0 5px rgb(var(--bs-danger-rgb), 0.1);
}

#alert .alert-info {
  box-shadow: 0 0 0 5px rgb(var(--bs-info-rgb), 0.1);
}

#alert .alert-light {
  box-shadow: 0 0 0 5px rgb(var(--bs-light-rgb), 0.1);
}

#alert .alert-dark {
  box-shadow: 0 0 0 5px rgb(var(--bs-dark-rgb), 0.1);
}

/* top */
#top {
  background-color: var(--bs-tertiary-bg);
  border-bottom: 1px solid var(--bs-border-color);
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 5px;
}

#top ul.list-inline {
  margin-bottom: 0;
}

#top .list-inline-item > a, #top .list-inline-item .dropdown > a {
  font-size: 1.1em;
  color: var(--bs-gray-600);
  line-height: 40px;
  vertical-align: middle;
  padding: 10px 0px 5px 0px;
}

/* logo */
#logo {
  text-align: center;
  margin: 7px 0 7px 0;
}

#logo img {
  max-width: 200px;
}

@media (min-width: 768px) {
  #logo {
    text-align: left;
  }
}

/* search */
#search {
  margin-bottom: 10px;
}

#search .form-control-lg {
  height: 40px;
  font-size: 12px;
  line-height: 20px;
  padding: 0 10px;
}

#search .btn-lg {
  font-size: 15px;
  line-height: 18px;
  padding: 0.57rem 35px;
  text-shadow: 0 1px 0 #FFF;
}

/* cart */
#cart {
  margin-bottom: 10px;
}

#cart .img-thumbnail {
  min-width: 100px;
}

#cart .btn-lg {
  font-size: 15px;
  line-height: 18px;
  padding: 14px 35px;
}

#cart .dropdown-menu {
  background: #eee;
}

#cart .dropdown-menu li {
  min-width: 300px;
}

@media (max-width: 768px) {
  #cart .dropdown-menu li {
    min-width: 100%;
  }
}

/* menu */
#menu {
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
  border: 1px solid #1f90bb;
  border-color: #1f90bb #1f90bb #145e7a;
  min-height: 40px;
  border-radius: 4px;
  padding: 0 1rem;
  margin-bottom: 20px;
}

#menu .navbar-nav > li > a {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  padding: 10px 15px 10px 15px;
  background-color: transparent;
}

#menu .navbar-nav > li > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#menu .dropdown-menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#menu .dropdown-inner {
  display: flex;
  flex-direction: column;
}

#menu .dropdown-inner ul {
  width: 100%;
  min-width: 200px;
}

@media (min-width: 960px) {
  #menu .dropdown:hover .dropdown-menu {
    display: block;
  }

  #menu .dropdown-inner {
    flex-direction: row;
  }

  #menu .nav-item + .nav-item + .nav-item .dropdown-column-3 {
    left: -200px;
  }

  #menu .nav-item + .nav-item + .nav-item .dropdown-column-4 {
    left: -400px;
  }

  #menu .nav-item + .nav-item + .nav-item + .nav-item .dropdown-column-2 {
    left: -200px;
  }

  #menu .nav-item + .nav-item + .nav-item + .nav-item .dropdown-column-3 {
    left: -400px;
  }

  #menu .nav-item + .nav-item + .nav-item + .nav-item .dropdown-column-4 {
    left: -600px;
  }
}

#category {
  float: left;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

#menu .navbar-toggler i {
  color: #fff;
  border-color: #fff;
  font-size: 0.9em;
}

/* required */
label:has(+ div *[required]):before {
  content: '* ';
  color: red;
  font-weight: bold;
}

label.required:before, label:has(+ input:required):before, label:has(+ select:required):before, label:has(+ textarea:required):before {
  content: '* ';
  color: red;
  font-weight: bold;
}

.form-switch-lg {
  font-size: 20px;
}

.nav-tabs {
  margin-bottom: 15px;
}

.form-check {
  .form-check-input {
    margin-top: 0.25rem;
  }
}

@media (min-width: 768px) {
  .col-form-label {
    text-align: right;
  }
}

/* footer */
footer {
  border: 1px solid #000000;
  padding-top: 30px;
  background-color: #303030;
  border-top: 1px solid #ddd;
  color: #e2e2e2;
}

footer hr {
  border-top: none;
  border-bottom: 1px solid #666;
}

footer a {
  color: #ccc;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
}

footer h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* breadcrumb */
.breadcrumb {
  margin: 0 0 20px 0;
  padding: 8px 0;
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  background-color: var(--bs-tertiary-bg);

  i {
    font-size: 15px;
  }

  > li.breadcrumb-item {
    text-shadow: 0 1px 0 #FFF;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;

    > a {
      text-decoration: none;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: -3px;
      right: -5px;
      width: 29px;
      height: 29px;
      border-right: 1px solid var(--bs-border-color);
      border-bottom: 1px solid var(--bs-border-color);
      transform: rotate(-45deg);
    }

    + li {
      &:before {
        content: '';
        padding: 0;
      }
    }
  }
}

.product-thumb {
  border: 1px solid #ddd;
  position: relative;
  height: 100%;
}

.product-thumb .image {
  text-align: center;
}

.product-thumb .image a:hover {
  opacity: 0.8;
}

.product-thumb .description {
  padding: 15px;
  margin-bottom: 45px;
}

.product-thumb .description h4 {
  font-weight: bold;
}

.product-thumb .button {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.product-thumb .button button {
  width: 33.33%;
  border: none;
  border-top: 1px solid var(--bs-border-color);
  background-color: var(--bs-tertiary-bg);
  color: var(--bs-gray-600);
  line-height: 38px;
  text-align: center;
}

.product-thumb .button button:hover {
  color: var(--bs-gray-600);
  background-color: #ddd;
  text-decoration: none;
  cursor: pointer;
}

.product-thumb .button button + button {
  border-left: 1px solid var(--bs-border-color);
}

@media (min-width: 960px) {
  .product-list .product-thumb {
    display: flex;
  }

  .product-list .product-thumb .image {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .product-list .product-thumb .content {
    flex-direction: column;
    flex: 75%;
    position: relative;
  }

  .product-list .product-thumb .button {
    border-left: 1px solid #ddd;
    width: calc(100% - 15px);
    margin-left: 15px;
  }
}

.rating .fa-stack {
  width: 20px;
}

.rating .fa-star {
  color: #999;
  font-size: 15px;
}

.rating .fa-star {
  color: #FC0;
  font-size: 15px;
}

.rating .fa-star + .fa-star {
  color: #E69500;
}

/* product list */
.price {
  color: #444;
}

.price-new {
  font-weight: 600;
}

.price-old {
  color: #dc512c;
  text-decoration: line-through;
}

.price-tax {
  color: #999;
  font-size: 12px;
  display: block;
}

/* blog */
.blog-thumb {
  border: 1px solid #ddd;
  margin-bottom: 15px;
}

.blog-thumb h4 {
  font-weight: bold;
}

.blog-thumb .image {
  text-align: center;
  margin-bottom: 15px;
}

.blog-thumb .image a:hover {
  opacity: 0.8;
}

.blog-thumb .description {
  padding: 15px;
}

/* Theme Custom CSS */
#cookie {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: 9999;
  opacity: 0.95;
  color: #ecf0f1;
  background: #343a40;
}

#cookie div {
  font-size: 16px;
  color: #FFFFFF;
}


// Custom OpenCart styles
.input-group-lg > .form-control,
.input-group-lg > .form-select,
.input-group-lg > .input-group-text,
.input-group-lg > .btn {
  height: #{$input-height-lg};
}

.input-group-sm > .form-control,
.input-group-sm > .form-select,
.input-group-sm > .input-group-text,
.input-group-sm > .btn {
  height: #{$input-height-sm};
}

.btn-light {
  --bs-btn-border-color: var(--bs-gray-300);
}

.carousel {
  border: 4px solid #{$white};
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  margin-bottom: 50px;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 2;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  transition: all .3s ease;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.8);
}

.carousel-control-prev {
  left: auto;
}

.carousel-control-next {
  right: auto;
}

.carousel .carousel-control-prev {
  opacity: 0;
  left: -20px;
}

.carousel .carousel-control-next {
  opacity: 0;
  right: -20px;
}

.carousel:hover .carousel-control-prev {
  opacity: 0.7;
  left: 0px;
}

.carousel:hover .carousel-control-next {
  opacity: 0.7;
  right: 0px;
}

.carousel-indicators {
  bottom: -50px;

  [data-bs-target] {
    border-radius: 20px;
    border: 1px solid #000000;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  }

  li:hover {
    opacity: .7;
  }

  .active {
    opacity: $carousel-indicator-active-opacity;
  }
}