{varType ApiGen\Index\Index $index}
{varType ApiGen\Renderer\Latte\Template\ConfigParameters $config}
{varType ApiGen\Renderer\Latte\Template\LayoutParameters $layout}

{define classLikeLinks, ApiGen\Info\ClassLikeInfo $classLike}
	{pre}
		{if $classLike->name->namespaceLower}{include namespaceLinks, $index->namespace[$classLike->name->namespaceLower]}\{/if}
		<a href="{classLikeUrl($classLike)}">{$classLike->name->short}</a>
	{/pre}
{/define}
