{varType ApiGen\Index\Index $index}
{varType ApiGen\Renderer\Latte\Template\ConfigParameters $config}
{varType ApiGen\Renderer\Latte\Template\LayoutParameters $layout}

{define classLikeKind, ApiGen\Info\ClassLikeInfo $classLike}
	{pre}
		{if isInterface($classLike)}Interface
		{elseif isTrait($classLike)}Trait
		{elseif isClass($classLike)}Class
		{elseif isEnum($classLike)}Enum
		{else}{/if}
	{/pre}
{/define}
