{varType ApiGen\Index\Index $index}
{varType ApiGen\Renderer\Latte\Template\ConfigParameters $config}
{varType ApiGen\Renderer\Latte\Template\LayoutParameters $layout}

{define description, string $description, ?ApiGen\Info\ClassLikeInfo $scope}
	<div n:if="$description" class="description">{longDescription($index, $scope, $description)}</div>
{/define}
