{varType ApiGen\Index\Index $index}
{varType ApiGen\Renderer\Latte\Template\ConfigParameters $config}
{varType ApiGen\Renderer\Latte\Template\LayoutParameters $layout}

{define elementSummary}
	<table class="table elementSummary">
		{include elementSummaryContent}
	</table>
{/define}
