{varType ApiGen\Index\Index $index}
{varType ApiGen\Renderer\Latte\Template\ConfigParameters $config}
{varType ApiGen\Renderer\Latte\Template\LayoutParameters $layout}

{define search}
	<div class="search" data-elements="{assetUrl('elements.js')}">
		<input class="search-input" placeholder="Search class, function or namespace" autofocus>
		<ul class="search-results"></ul>
	</div>
{/define}
