

{% if articles %}

<div class="row mb-3">
  <div class="col-lg offset-lg-8">
    <div class="input-group">
      <label for="input-sort" class="input-group-text">{{ text_sort }}</label> <select id="input-sort" class="form-select" onchange="location = this.value;">


      <option value="">{{ text_default }}</option>
      <option value="name-asc"{% if sort == 'name-asc' %} selected{% endif %}>{{ text_name_asc }}</option>
      <option value="name-desc"{% if sort == 'name-desc' %} selected{% endif %}>{{ text_name_desc }}</option>
      <option value="rating-asc"{% if sort == 'rating-asc' %} selected{% endif %}>{{ text_rating_asc }}</option>
      <option value="rating-desc"{% if sort == 'rating-desc' %} selected{% endif %}>{{ text_rating_desc }}</option>
      <option value="model-asc"{% if sort == 'model-asc' %} selected{% endif %}>{{ text_model_asc }}</option>
      <option value="model-desc"{% if sort == 'model-desc' %} selected{% endif %}>{{ text_model_desc }}</option>




      {% for sorts in sorts %}
      <option value="{{ sorts.href }}"{% if sorts.value == '%s-%s'|format(sort, order) %} selected{% endif %}>{{ sorts.text }}</option>
      {% endfor %}



    </select>
    </div>
  </div>
</div>

{% for article in articles %}
<div class="mb-3">
  <h2><a href="{{ article.href }}">{{ article.name }}</a></h2>
  {% if article.image %}
  <div><a href="{{ article.href }}"><img src="{{ article.image }}" title="{{ article.name }}" alt="{{ article.name }}" class="img-thumbnail mb-1"/></a></div>
  {% endif %}

  <ul class="list-inline">
    <li class="list-inline-item">{{ text_by }} <a href="{{ article.filter_author }}">{{ article.author }}</a></li>
    <li class="list-inline-item">{{ article.date_added }}</li>
    <li class="list-inline-item">{{ article.comment_total }} {{ text_comment }}</li>
  </ul>

  <p class="mb-3">{{ article.description }}</p>
  <div class="text-end"><a href="{{ article.href }}" class="btn btn-primary">{{ button_continue }}</a></div>

</div>
{% endfor %}

<div class="row">
  <div class="col-sm-6 text-start">{{ pagination }}</div>
  <div class="col-sm-6 text-end">{{ results }}</div>
</div>

{% else %}
<p class="text-center">{{ text_no_results }}</p>
{% endif %}