{% if articles %}

<div class="row mb-3">
  <div class="col-lg offset-lg-8">
    <div class="input-group">
      <label for="input-sort" class="input-group-text">{{ text_sort }}</label>
      <select id="input-sort" class="form-select" data-on="change:onSort">
      <option value="latest-asc" {% if sort == 'latest-asc' %} selected{% endif %}><i class="fa-solid fa-arrow-down-short-wide"></i> {{ text_date_added }}</option>
      <option value="latest-desc" {% if sort == 'latest-desc' %} selected{% endif %}><i class="fa-solid fa-arrow-up-short-wide"></i> {{ text_date_added }}</option>
      <option value="popularity-asc" {% if sort == 'popularity-asc' %} selected{% endif %}><i class="fa-solid fa-arrow-down-short-wide"></i>{{ text_popularity }}</option>
      <option value="popularity-desc" {% if sort == 'popularity-desc' %} selected{% endif %}><i class="fa-solid fa-arrow-up-short-wide"></i> {{ text_popularity }}</option>
    </select>
    </div>
  </div>
</div>

{% for article in articles %}
<div class="mb-3">
  <h2><a href="cms/article_info.js?article_id={{ article.article_id }}" data-on="click:onClick">{{ article.name }}</a></h2>

  {% if article.thumb %}
  <div><a href="cms/article_info.js?article_id={{ article.article_id }}" data-on="click:onClick"><img src="{{ article.thumb }}" title="{{ article.name }}" alt="{{ article.name }}" class="img-thumbnail mb-1"/></a></div>
  {% endif %}

  <ul class="list-inline">
    <li class="list-inline-item">{{ text_by }} <a href="cms/article.js?author={{ article.filter_author }}" data-on="click:onClick">{{ article.author }}</a></li>
    <li class="list-inline-item">{{ article.date_added }}</li>
    <li class="list-inline-item">{{ article.comment_total }} {{ text_comment }}</li>
  </ul>

  <p class="mb-3">{{ article.description }}</p>
  <div class="text-end"><a href="cms/article_info.js?article_id={{ article.article_id }}" class="btn btn-primary" data-on="click:onClick">{{ button_continue }}</a></div>

</div>
{% endfor %}

<div class="row">
  <div class="col-sm-6 text-start"><x-pagination href="{{ pagination }}" target="#list" page="{{ page }}" limit="{{ limit }}" total="{{ total }}"></x-pagination></div>
  <div class="col-sm-6 text-end">{{ results }}</div>
</div>

{% else %}
<p class="text-center">{{ text_no_results }}</p>
{% endif %}