<h1>{{ heading_title }}</h1>
{% if image %}
  <img src="{{ image }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail mb-3"/>
{% endif %}
{% if description %}
  <div class="mb-3">{{ description }}</div>
{% endif %}
<hr/>
<h3>{{ text_refine }}</h3>
<div class="input-group dropdown mb-3">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ entry_search }}" id="input-search" class="form-control"/>
  {% if topics %}
    <select name="topic_id" id="input-topic" class="form-select" onchange="">
      <option value="">{{ text_all }}</option>
      {% for topic in topics %}
        <option value="{{ topic.topic_id }}"{% if topic.topic_id == topic_id %} selected{% endif %}>{{ topic.name }}</option>
      {% endfor %}
    </select>
  {% endif %}
  <button id="button-search" class="btn btn-primary">{{ button_search }}</button>
</div>


<article-list topic_id="{{ topic_id }}" sort="" order=""></article-list>