<script>
        var dividoKey = {{api_key}}
</script>
<div class="divido-widget" >
    <div data-divido-widget data-divido-plans="{{ planList }}" data-divido-amount="{{ productPrice }}"></div>
</div>
