<form action="{{ action }}" method="post">
  <div class="d-inline-block pt-2 pd-2 w-100">
    <div class="float-right">
      <input type="submit" value="{{ button_confirm }}" class="btn btn-primary"/>
    </div>
  </div>
</form>
