<form action="{{ action }}" method="post">
  <div class="d-inline-block pt-2 pd-2 w-100">
    <div class="float-right">
      <button type="submit" class="btn btn-primary">{{ button_confirm }}</button>
    </div>
  </div>
</form>
