{% if (error is defined) %}
    <div class="alert alert-danger">
        <i class="fa fa-exclamation-circle">
            &nbsp;{{ error }}
        </i> 
        <button type="button" class="close" data-dismiss="alert">×</button>
    </div>
{% else %} 
    {{ directPaymentForm }}
    <div class="buttons">
        <div class="pull-right">
            <input type="submit" value="{{ button_confirm }}" class="btn btn-primary" form="form-myfatoorah_direct"/>
        </div>
    </div>
{% endif %}