# Environment Configuration: 'development' or 'production'
OPENCART_ENV=development

# HTTP
HTTP_PORT=80
HTTP_EXPOSE_PORT=80

# PHP
PHP_VERSION=8.4
PHP_FPM_PORT=9000
PHP_FPM_EXPOSE_PORT=9000
TZ=UTC

# OpenCart Installation
OPENCART_USERNAME=admin
OPENCART_PASSWORD=admin
OPENCART_ADMIN_EMAIL=admin@example.com
OPENCART_HTTP_SERVER=http://localhost/

# Database Configuration
DB_DRIVER=mysqli
DB_HOSTNAME=mysql
DB_USERNAME=opencart
DB_PASSWORD=opencart
DB_DATABASE=opencart
DB_PREFIX=oc_
DB_PORT=3306
DB_EXPOSE_PORT=3306
DB_ROOT_PASSWORD=opencart
DB_SSL_KEY=
DB_SSL_CERT=
DB_SSL_CA=

# Adminer
ADMINER_PORT=8080
ADMINER_EXPOSE_PORT=8080

# Cache
CACHE_PORT=6379
CACHE_EXPOSE_PORT=6379
