<h1 class="heading-title">{{ heading_title }}</h1>
<p><div class="warning">{{ error }}</div></p>
<div class="buttons">
  <div class="right"><a href="{{ continue }}" class="button"><span>{{ button_continue }}</span></a></div>
</div>