/* Main Flora Style Sheet for jQuery UI ui-datepicker */
#ui-datepicker-div, .ui-datepicker-inline {
	padding: 0;
	margin: 0;
	background: #A9B7C5;
	width: 185px;
}
#ui-datepicker-div {
	display: none;
	border: 1px solid #6975A3;
	z-index: 10;
}
.ui-datepicker-inline {
	float: left;
	display: block;
	border: 0;
}
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-dialog {
	padding: 5px !important;
	border: 4px ridge #83C948 !important;
}
button.ui-datepicker-trigger {
	width: 25px;
}
img.ui-datepicker-trigger {
	margin: 2px;
	vertical-align: middle;
}
.ui-datepicker-prompt {
	float: left;
	padding: 2px;
	background: #E0F4D7;
	color: #000;
}
*html .ui-datepicker-prompt {
	width: 185px;
}
.ui-datepicker-control, .ui-datepicker-links, .ui-datepicker-header, .ui-datepicker {
	clear: both;
	float: left;
	width: 100%;
}
.ui-datepicker-control {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: #000000;
	padding: 3px 0px;
}
.ui-datepicker-links {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: #27343C;
	padding: 2px 0px;
}
.ui-datepicker-clear, .ui-datepicker-prev {
	float: left;
	width: 34%;
}
.ui-datepicker-rtl .ui-datepicker-clear, .ui-datepicker-rtl .ui-datepicker-prev {
	float: right;
	text-align: right;
}
.ui-datepicker-current {
	float: left;
	width: 30%;
	text-align: center;
}
.ui-datepicker-close, .ui-datepicker-next {
	float: right;
	width: 34%;
	text-align: right;
}
.ui-datepicker-rtl .ui-datepicker-close, .ui-datepicker-rtl .ui-datepicker-next {
	float: left;
	text-align: left;
}
.ui-datepicker-header {
	padding: 1px 0 3px;
	background: #A9B7C5;
	text-align: center;
	padding: 3px 0px;
}
.ui-datepicker-header select {
	background: #E4EAF1;
	color: #000;
	border: 0px;
	padding: 0;
	margin: 0;
}
.ui-datepicker {
	border-left: 1px solid #E0E5F1;
	text-align: center;
}
.ui-datepicker a {
	display: block;
	width: 100%;
}
.ui-datepicker-title-row {
	background: #A9B7C5;
	padding: 3px;
	color: #000000;
}
.ui-datepicker-title-row {
}
.ui-datepicker-week-end-cell {
}
.ui-datepicker-week-col {
	background: #B1DB87;
	color: #000;
}
.ui-datepicker-days-row {
	background: #FFF;
	color: #666;
}
.ui-datepicker-days-cell {
	color: #000000;
	background: #E4EAF1;
	padding: 3px;
	border-bottom: 1px solid #E0E5F1;
	border-right: 1px solid #E0E5F1;
}
.ui-datepicker-days-cell a {
	display: block;
}
.ui-datepicker-days-cell-over a {
	color: #FFFFFF;
}
.ui-datepicker-week-end-cell {
	background: #E0F4D7;
}
.ui-datepicker-unselectable {
	color: #888;
}
.ui-datepicker-week-over, .ui-datepicker-week-over .ui-datepicker-week-end-cell {
	background: #B1DB87 !important;
}
.ui-datepicker-days-cell-over, .ui-datepicker-days-cell-over.ui-datepicker-week-end-cell {
	background: #A9B7C5 !important;
}
.ui-datepicker-today {
	background: #B1DB87 !important;
}
.ui-datepicker-current-day {
	background: #A9B7C5 !important;
	color: #FFFFFF;
}

.ui-datepicker-current-day a {
	color: #FFFFFF;
}

.ui-datepicker-status {
	background: #E0F4D7;
	width: 100%;
	text-align: center;
}
#ui-datepicker-div a, .ui-datepicker-inline a {
	cursor: pointer;
	margin: 0;
	padding: 0;
	background: none;
}
.ui-datepicker-inline .ui-datepicker-links a {
	padding: 0 5px !important;
}
.ui-datepicker-control a, .ui-datepicker-links a {
	padding: 2px 5px !important;
	color: #FFFFFF !important;
}
.ui-datepicker-title-row a {
	color: #000 !important;
}
.ui-datepicker-control a:hover {
}
.ui-datepicker-links a:hover {
}
.ui-datepicker-title-row a:hover {
}
.ui-datepicker-multi .ui-datepicker {
	border: 1px solid #83C948;
}
.ui-datepicker-one-month {
	float: left;
	width: 185px;
}
.ui-datepicker-new-row {
	clear: left;
}
.ui-datepicker-cover {
	display: none;
	display/**/: block;
	position: absolute;
	z-index: -1;
	filter: mask();
	top: -4px;
	left: -4px;
	width: 193px;
	height: 200px;
}
