html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	color: #333;
}
html, body, label, .control-group input, textarea, select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
}

.btn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#header {
	height: 48px;
	background-image: url('../image/header.png');
	border-bottom: 4px solid #00C3F4;
}
#logo {
	float: left;
	padding-top: 10px;
	padding-left: 25px;
}
#account {
	float: right;
	padding-top: 10px;
	padding-right: 25px;
}
#account .nav > .dropdown > a {
	font-size: 11px;
	color: #FFF;
}
.navbar {
	background: #F6F6F6;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 14px;
	padding: 0px 25px;
    -webkit-box-shadow: 0px 0px 5px #E7E7E7;
   	-moz-box-shadow: 0px 0px 5px #E7E7E7;
    box-shadow: 0px 0px 5px #E5E5E5;
}
.navbar .nav > li {
	padding: 9px 0px;
}
.navbar .nav > li > a {
	color: #666666;
	font-size: 12px;
	line-height: 14px;
	text-shadow: none;
	cursor: pointer;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #DDDDDD;
	padding: 0px 15px;
}
.navbar .nav > li > a:fist {
	border-left: none;
}
#content {
	padding: 10px 30px 0px 30px;
	padding-bottom: 128px;
}
#footer {
	background: #FFFFFF url('../image/footer.png') repeat-x;
	height: 90px;
	padding-top: 38px;
	text-align: center;
	font-size: 12px;
	color: #333;
	position: relative;
	margin-top: -128px;
	clear: both;
}
#footer a {
	color: #333;
	text-decoration: underline;
}	




.breadcrumb {
	padding: 0px 8px;
	margin: 0 0 20px;
	list-style: none;
	background-color: #FFFFFF;
	border: 1px solid #E5E5E5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.breadcrumb > li:first-child > a {
	font-size: 18px;
}
.breadcrumb > li > a {
	border: 1px solid #000;
	color: #464646;
	padding: 0px;
	margin: 0;
	padding-right: 20px;
}
.breadcrumb > li {
	vertical-align: middle;
	line-height: 25px;
	background: url('../image/breadcrumb.png') right center no-repeat;
	padding: 0;
	margin: 0;
}
.breadcrumb > li > .divider {
	padding: 0 5px;
	color: #ccc;
}
.breadcrumb > .active {
  color: #999999;
}




.box {
	margin-bottom: 15px;
}
.box-heading {
	padding: 0px 10px;
	border: 1px solid #DBDBDB;
	background: #EFEFEF;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}
.box-heading h1 {
	margin: 0px;
	padding: 0px;
	color: #666666;
	font-size: 15px;
	line-height: 32px;
	padding-top: 3px;
}
.box-heading h1 i {
	font-size: 17px;
	font-weight: normal;
	margin-right: 5px;
}
.box-content {
	padding: 10px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	min-height: 300px;
	overflow: auto;
}
.buttons {
	text-align: right;
	border: 1px solid #DBDBDB;
	padding: 5px;
	margin-bottom: 15px;
}
.table .left {
	text-align: left;
}
.table .right {
	text-align: right;
}
.table .center {
	text-align: center;
}
.control-group {
	border-bottom: 1px dotted #CCCCCC;
	padding-bottom: 20px;
	margin-bottom: 10px;
}

.control-group .icon-question-sign {
	color: #37A6CD;
	font-size: 18px;
	cursor: pointer;
}
.control-label:after {
	content: ':';
}
.required .control-label:before {
	content: '*';
	color: #F00;
}
.results {
	float: right;
}
