@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,greek-ext,vietnamese);
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}
.page-header {
	margin-top: 15px;
}
.page-header h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 23px;
	color: #666666;
}
a, a:hover {
	color: #428bca;
}
a:hover, a:focus {
  color: #2a6496;
  text-decoration: underline;
}
.form-control {
	font-size: 12px;
}
.dropdown-menu li {
	font-size: 12px;
}
.datepicker {
	font-size: 12px;
}
/* fix for bootstrap hidden and visible */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}
#container {
	min-height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}
#header {
	min-height: 0px;
	background: #FFFFFF;
	border-bottom: 1px solid #E1E1E1;
	margin-bottom: 0;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.03);
	margin: 0;
	padding: 0;
}
#header .nav > li {
	float: left;
}
#header .nav > li li {
	min-width: 200px;
}
.container-fluid {
	padding-left: 20px;
	padding-right: 20px;
}
#header .navbar-header {
	min-height: 0px;
	padding: 0;
}
/* Mobile */
@media (max-width: 767px) {
#header .navbar-header {
	margin-right: 0px;
	margin-left: 0px;
	float: left;
}
}
#header #button-menu + .navbar-brand {
	padding: 10px 10px 10px 10px;
	margin-right: 10px;
	height: auto;
}

#header .nav > li > a {
	padding: 3px 15px;
	line-height: 38px;
	cursor: pointer;
	color: #666666;
	border-left: 1px solid #EEEEEE;
}

#header .nav > li > a > i {
	/*font-size: 18px;*/
}
#header .nav > li > a > .label {
	text-shadow: none;
	padding: 1px 4px;
	position: absolute;
	top: 8px;
	left: 6px;
}
#button-menu {
	padding: 10px 16px 9px 16px;
	line-height: 25px;
	float: left;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	border-right: 1px solid #EEEEEE;
}
#profile {
	padding: 10px 15px 10px 15px;
	overflow: auto;
	border-bottom: 1px solid #333333;	
}
#profile div {
	float: left;
	color: #999;
}
#profile div + div {
	margin-left: 15px;
}
#profile img {
	border-radius: 25px;
}
#profile h4 {
	margin-top: 6px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #FFF;
	margin-bottom: 0;
}
#column-left {
	width: 0px;
	height: 100%;
	background-color: #3A3A3A;
	position: absolute;
	top: 0px;
	padding-top: 50px;
	z-index: 1;
	overflow: hidden;
}
#column-left.active {
	width: 235px;
}
#content {
	padding-bottom: 40px;
}
/* Menu Active */
/* Desktop */
@media (min-width: 768px) {
#column-left.active {
	overflow: auto;
}
#column-left.active + #content {
	margin-left: 235px;
}
#column-left.active + #content + #footer {
	margin-left: 235px;
}
}
/* Mobile */
@media (max-width: 767px) {
#column-left.active + #content {
	position: relative;
	left: 235px;
}
#column-left.active + #content + #footer {
	position: relative;
	left: 235px;
}
}
/* footer */
#footer {
	height: 100px;
	text-align: center;
}
#menu, #menu ul, #menu li {
	padding: 0;
	margin: 0;
	list-style: none;
}
#menu li a {
	color: #BBBBBB;
	text-decoration: none;
	display: block;
	padding: 9px 10px 9px 10px;
	cursor: pointer;
}
#menu li i {
	font-size: 14px;
	margin-right: 5px;
}
#menu li ul {
	background-color: #222222;
}
#menu > li > a {
	padding-left: 15px;
	/*border-bottom: 1px solid #333333;*/
}
#menu li.active > a {
	color: #FFFFFF;
}
#menu li.active > a:last-child {
	background: #3EC3D5;
	border-bottom: 1px solid #000000;
	color: #FFFFFF;
}
#menu li.open > a {
	color: #FFFFFF;
	background-color: #1B2027;	
}
#menu li a:hover {
	color: #FFFFFF;
	background-color: #1B2027;
}
#menu li a.parent:after {
	font-family: FontAwesome;
	content: "\f105";
	float: right;
	margin-right: 8px;
}
#menu li.open > a.parent:after {
	font-family: FontAwesome;
	content: "\f107";
	float: right;
	margin-right: 8px;
}
#column-left #menu li ul a {
	padding-left: 48px;
}
#column-left #menu li li ul a {
	padding-left: 73px;
}
#column-left #menu li li li ul a {
	padding-left: 98px;
}
#column-left #menu li li li li ul a {
	padding-left: 123px;
}
/* Navs */
.nav > li.disabled > a {
	color: #999;
}
.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
	color: #999;
}
/* Tabs */
.nav-tabs > li > a {
	color: #666;
	border-radius: 2px 2px 0 0;
}
.nav-tabs > li > a:hover {
	border-color: #eee #eee #ddd;
}
.nav-tabs {
	margin-bottom: 25px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	font-weight: bold;
	color: #333;
}
.form-control:hover {
	border: 1px solid #b9b9b9;
	border-top-color: #a0a0a0;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
div.required .control-label:not(span):before, td.required:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
label.control-label span:after {
	font-family: FontAwesome;
	color: #1E91CF;
	content: "\f059";
	margin-left: 4px;
}
label.control-label {
	font-weight: normal;
}

input[type=checkbox] {
     position: relative;
}
input[type=checkbox]:before {
	position: absolute;
    background-color: #FFFFFF;
    height: 100%;
	width: 100%;
    font-family: FontAwesome;
    display: inline-block;
    content:"\f096";
    letter-spacing: 10px;
}
input[type=checkbox]:checked:before {
	font-family: FontAwesome;
    content:"\f046";
    letter-spacing: 5px;
}

input[type=radio] {
    position: relative;
}
input[type=radio]:before {
	position: absolute;
    background-color: #FFFFFF;
    height: 100%;
	width: 100%;
    font-family: FontAwesome;
    display: inline-block;	
    content: "\f10c";
    letter-spacing: 10px;	
}
input[type=radio]:checked:before {
    content: "\f192";
    letter-spacing: 5px;	
}

.alert {
	padding: 10px 15px;
}
.table thead td {
	font-weight: bold;
}
.table thead > tr > td, .table tbody > tr > td {
	vertical-align: middle;
}
.table a.asc:after {
	content: " \f0d7";
	font-family: FontAwesome;
	font-size: 14px;
}
.table a.desc:after {
	content: " \f0d8";
	font-family: FontAwesome;
	font-size: 14px;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
	background-color: #F9F9F9;
}
.pagination {
	margin: 0;
}
/* Buttons */
.btn {
	border: 0px;
	border-radius: 3px;
	font-size: 12px;
	box-shadow: none;
	padding: 8px 13px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover, .btn:focus {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
.btn:active, .btn.active {
  background-image: none;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}

.btn-xs {
	font-size: 10px;
	line-height: 11px;
	padding: 4px 7px;
}
.btn-sm {
	font-size: 12px;
	line-height: 15px;
	padding: 4px 9px;
}
.btn-lg {
	font-size: 15px;
	line-height: 19px;
	padding: 9px 18px;
}


.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}


.btn-primary {
	background-color: #313540;
}
.btn-primary:active {
	color: #FFF;
	background-color: #5A5D66;
	box-shadow: inset 0px 2px #2C3039;
}
.btn-primary:hover, .btn-primary:disabled {
	background-color: #5A5D66;
}

.btn-info {
	background-color: #3EC3D5;
}
.btn-info:active {
	background-color: #3EC3D5;
	box-shadow: inset 0px 2px #38AFBF;
}
.btn-info:hover, .btn-primary:disabled {
	background-color: #65CFDD;
}

.btn-success {
	background-color: #9cd159;
}
.btn-success:active {
	background-color: #9cd159;
	box-shadow: inset 0px 2px #2C3039;
}
.btn-success:hover, .btn-success:disabled {
	background-color: #9cd159;
}

.btn-warning {
	background-color: #E9405A;
}
.btn-warning:active {
	background-color: #FBC857;
	box-shadow: inset 0px 2px #2C3039;
}
.btn-warning:hover, .btn-warning:disabled {
	background-color: #FBC857;
}

.btn-danger {
	background-color: #E9405A;
}
.btn-danger:active {
	background-color: #ED667B;
	box-shadow: inset 0px 2px #2C3039;
}
.btn-danger:hover, .btn-danger:disabled {
	background-color: #ED667B;
}




.pagination {
	margin: 0px 0;
	border-radius: 2px;
}
.pagination > li > a, .pagination > li > span {
	padding: 5px 12px;
	line-height: 1.4;
	color: #333;
	background-color: #f3f3f3;
	border: 1px solid #dcdcdc;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
	margin-left: 0;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	z-index: 2;
	color: #333;
	background-color: #f5f5f5;
	border-color: #c6c6c6;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
.pagination > li > a:active {
	background-color: #f4f4f4;
	background-image: -webkit-linear-gradient(top, #f6f6f6 0%, #f1f1f1 100%);
	background-image: -o-linear-gradient(top, #f6f6f6 0%, #f1f1f1 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#f1f1f1));
	background-image: linear-gradient(to bottom, #f6f6f6 0%, #f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#fff1f1f1', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	color: #4d90fe;
	background-color: #f5f5f5;
	border-color: #c6c6c6;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
	color: #b3b3b3;
	text-shadow: none;
	background-color: #f3f3f3;
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #f1f1f1 100%);
	background-image: -o-linear-gradient(top, #f5f5f5 0%, #f1f1f1 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
	background-image: linear-gradient(to bottom, #f5f5f5 0%, #f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff1f1f1', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	border-color: #d9d9d9;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.pagination-lg > li > a, .pagination-lg > li > span {
	padding: 9px 14px;
	font-size: 14px;
}
.pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span {
	border-top-left-radius: 1px;
	border-bottom-left-radius: 1px;
}
.pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span {
	border-top-right-radius: 1px;
	border-bottom-right-radius: 1px;
}
.pagination-sm > li > a, .pagination-sm > li > span {
	padding: 3px 8px;
	font-size: 12px;
}
.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
	border-top-left-radius: 1px;
	border-bottom-left-radius: 1px;
}
.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
	border-top-right-radius: 1px;
	border-bottom-right-radius: 1px;
}
.panel-default .panel-heading {
	background: none;
	
}
.well {
	border-radius: 0px;
	box-shadow: none;
}
/* Tiles */
.tile {
	min-height: 150px;
	margin-bottom: 15px;
	border-radius: 3px;
}
.tile-heading {
	font-size: 15px;
	font-weight: 600;
	padding: 10px;
	color: #FFFFFF;
	text-transform: uppercase;
	background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
}
.tile-body {
	padding: 15px;
	color: #FFFFFF;
}
.tile i {
	color: #000;
	opacity: 0.10;
}
.tile-red {
	background-color: #DE5854;
}
.tile-blue {
	background-color: #4691D1;
}
.tile-green {
	background-color: #5DC25D;
}
.tile-yellow {
	background-color: #F2B155;
}
.img-thumbnail i {
	color: #FFFFFF;
	background-color: #EEEEEE;
	text-align: center;
	vertical-align: middle;
	width: 100px;
	height: 100px;
	padding-top: 20px;
	vertical-align: middle;
	display: inline-block;
}
.img-thumbnail.list i {
	width: 40px;
	height: 40px;
	padding-top: 10px;
}

.dropdown-menu > li > a { white-space: normal; }
