html, body, label, .control-group input, textarea, select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
}
.alert {
	font-size: 14px;
	line-height: 20px;
}
.btn-group .btn, .btn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}



.brand {
	margin: 0px;
	padding-top: 0px;
	padding-left: 5px;
}
.navbar {
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 14px;
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
	box-shadow: 0 1px 10px rgba(0,0,0,.1);
}
.navbar-inverse .nav > li > a {
	text-shadow: 1px 1px 0px #000000;
	cursor: pointer;
}
.navbar-inner {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.breadcrumb li + li:before {
	content: "\f105";
	font-family: FontAwesome;
}
#content {
	padding: 10px 15px 0px 15px;
	padding-bottom: 128px;
}
#footer {
	background: #FFFFFF url('../image/footer.png') repeat-x;
	height: 90px;
	padding-top: 38px;
	text-align: center;
	font-size: 12px;
	color: #333;
	position: relative;
	margin-top: -128px;
	clear: both;
}
#footer a {
	color: #333;
	text-decoration: underline;
}
.box {
	margin-bottom: 15px;
}
.box-heading {
	padding: 0px 15px;
	border: 1px solid #DBDBDB;
	background: #EFEFEF;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}
.box-heading h1 {
	margin: 0px;
	padding: 0px;
	color: #666666;
	font-size: 19px;
	font-weight: normal;
	text-shadow: 1px 1px 0px #FFFFFF;
	line-height: 42px;
	padding-top: 0px;
}
.box-heading h1 i {
	font-weight: normal;
	color: #00C3F4;
	margin-right: 5px;
}
.box-content {
	padding: 10px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	overflow: auto;
}
.buttons {
	text-align: right;
	border: 1px solid #DBDBDB;
	padding: 5px;
	margin-bottom: 15px;
}
.table .left {
	text-align: left;
}
.table .right {
	text-align: right;
}
.table .center {
	text-align: center;
}
.table a.asc:after {
	content: "  \f0d7";
	font-family: FontAwesome;
	font-size: 14px;
}
.table a.desc:after {
	content: "  \f0d8";
	font-family: FontAwesome;	
	font-size: 14px;
}
.control-group {
	border-bottom: 1px dotted #CCCCCC;
	padding-bottom: 20px;
	margin-bottom: 10px;
}
.control-group a[data-toggle='tooltip'] {
	font-size: 15px;
	cursor: pointer;
	text-decoration: none;
	margin-left: 5px;
}
.control-label:after {
	content: ':';
}
.required .control-label:before {
	content: '* ';
	color: #B94A48;
}
.scrollbox {
	width: 250px;
	height: 200px;
	overflow-y: scroll;
}
.results {
	float: right;
}

.chart {
	width: 30px; 
	height: 30px;
	display: inline-block;
	border: 1px solid #000;
}

.detail {
	display: inline-block;
	margin-left: 10px;
	border: 1px solid #000;
}

/* thumbnails */
.thumbnails {
	position: relative;
	border: 1px solid #000;
}
.thumbnail-option {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	opacity: 0.8;
	background: #000;
}
.thumbnail-option a {
	color: #FFF;
}