

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #666;
  font-size: 12px;
  line-height: 20px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #444;
}

/* Override the bootstrap defaults */
h1 {
  font-size: 33px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10.2px;
}

a {
  color: #23a1d1;
  &:hover {
    text-decoration: none;
  }
}

legend {
  font-size: 18px;
  padding: 7px 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

label {
  font-size: 12px;
  font-weight: normal;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  &.form-control {
    font-size: 12px;
  }
}

.input-group {
  input, select, .dropdown-menu, .popover {
    font-size: 12px;
  }

  .input-group-addon {
    font-size: 12px;
    height: 30px;
  }
}

.nav-tabs {
  margin-bottom: 15px;
}

div.required .col-form-label:before {
  content: '* ';
  color: #F00;
  font-weight: bold;
}

@media (min-width: 768px) {
  .col-form-label {
    text-align: right;
  }
}

/* top */
#top {
  background-color: #EEEEEE;
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0;
  margin: 0 0 20px 0;
  min-height: 44px;

  .nav {
    > .list-inline {
      > .list-inline-item, .list-inline-item a {
        color: #888;
        text-shadow: 0 1px 0 #FFF;



      }

    }
  }

  .btn-link {
    color: #888;
    text-shadow: 0 1px 0 #FFF;
    text-decoration: none;
    &:hover {
      color: #444;
    }
  }
}


#top .list-inline-item .dropdown .dropdown-menu {
  font-size: 1.1em;
  > li {
    > a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;

      &:hover {
        text-decoration: none;
        color: #ffffff;
        background-color: #229ac8;
        background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
        background-repeat: repeat-x;
      }
    }
  }
}




/* logo */
#logo {
  margin: 0 0 10px 0;
  img {
    max-width: 200px;
  }
}

/* search */
#search {
  margin-bottom: 10px;
  .input-lg {
    height: 40px;
    line-height: 20px;
    padding: 0 10px;
  }
  .btn-lg {
    font-size: 15px;
    line-height: 18px;
    padding: 0.57rem 35px;
    text-shadow: 0 1px 0 #FFF;
  }
}

/* cart */
#cart {
  margin-bottom: 10px;
  > .btn {
    font-size: 12px;
    line-height: 18px;
    color: #FFF;

  }
  .btn-lg {
    padding: 0.57rem 1rem;
  }
  &.open {
    > .btn {
      background-image: none;
      background-color: #FFFFFF;
      border: 1px solid #E6E6E6;
      color: #666;
      box-shadow: none;
      text-shadow: none;
      &:hover {
        color: #444;
      }
    }
  }

  .dropdown-menu {
    background: #eee;
    z-index: 1001;
    min-width: 100%;

    table {
      margin-bottom: 10px;
    }

    li {
      > div {
        min-width: 427px;
        padding: 0 10px;
      }
      p {
        margin: 20px 0;
      }
    }

    @media (max-width: 478px) {
      width: 100%;
      li {
        > div {
          min-width: 100%;
        }
      }
    }
  }

  .table-striped {
    > tbody {
      > tr {
        &:nth-of-type(odd) {
          background-color: #f9f9f9;
        }
      }
    }
  }
}

/* menu */
#menu {
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
  border: 1px solid #1f90bb;
  border-color: #1f90bb #1f90bb #145e7a;
  min-height: 40px;
  border-radius: 4px;

  &.navbar {
    padding: 0 1rem;
    margin-bottom: 20px;
  }

  .dropdown-menu {
    padding-bottom: 0;
    margin-top: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .dropdown-inner {
    display: table;

    ul {
      display: table-cell;
      li {
        a {
          &:hover {
            color: #ffffff;
            background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
          }
        }
      }
    }

    a {
      min-width: 160px;
      display: block;
      padding: 3px 20px;
      clear: both;
      line-height: 20px;
      color: #333333;
      font-size: 12px;
    }
  }
  .see-all {
    display: block;
    margin-top: 0.5em;
    border-top: 1px solid #DDD;
    padding: 3px 20px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 3px 3px;
    font-size: 12px;
    &:hover,
    &:focus {
      text-decoration: none;
      color: #ffffff;
      background-color: #229ac8;
      background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
      background-repeat: repeat-x;
    }
  }
  #category {
    float: left;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  }
  .btn-navbar {
    font-size: 15px;
    font-stretch: expanded;
    color: #FFF;
    padding: 2px 18px;
    float: right;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
    border-color: #1f90bb #1f90bb #145e7a;
    &:hover,
    &:focus,
    &:active,
    &.disabled,
    &[disabled] {
      color: #ffffff;
      background-color: #229ac8;
    }
  }
  .navbar-toggler {
    i {
      color: #fff;
      border-color: #fff;
      font-size: 0.9em;
    }
  }
  .navbar-nav {
    > li {
      > a {
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        padding: 10px 15px 10px 15px;
        min-height: 15px;
        background-color: transparent;
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
  @media (min-width: 768px) {
    .dropdown {
      &:hover {
        .dropdown-menu {
          display: block;
        }
      }
    }
  }
  @media (max-width: 767px) {
    border-radius: 4px;
    div {
      &.dropdown-inner {
        > ul {
          .list-unstyled {
            display: block;
          }
        }
      }
      &.dropdown-menu {
        margin-left: 0 !important;
        padding-bottom: 10px;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
    .dropdown-inner {
      display: block;
      a {
        width: 100%;
        color: #fff;
      }
    }
    .dropdown-menu {
      a {
        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }
      ul {
        li {
          a {
            :hover {
              background: rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }
    .see-all {
      margin-top: 0;
      border: none;
      border-radius: 0;
      color: #fff;
    }
  }
}

/* content */
#content {
  min-height: 600px;
}

/* footer */
footer {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 1px;
  background-color: #303030;
  border-top: 1px solid #ddd;
  color: #e2e2e2;
  hr {
    border-top: none;
    border-bottom: 1px solid #666;
  }
  a {
    color: #ccc;
    &:hover {
      color: #fff;
    }
  }
  h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* default font size */
.fa {
  font-size: 14px;
}

/* alert */
.alert {
  padding: 8px 14px 8px 14px;
}

/* breadcrumb */
.breadcrumb {
  margin: 0 0 20px 0;
  padding: 8px 0;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  i {
    font-size: 15px;
  }
  > li {
    text-shadow: 0 1px 0 #FFF;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: -3px;
      right: -5px;
      width: 26px;
      height: 26px;
      border-right: 1px solid #DDD;
      border-bottom: 1px solid #DDD;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    + li {
      &:before {
        content: '';
        padding: 0;
      }
    }
  }
}

.pagination {
  margin: 0;
}

/* buttons */
.buttons {
  margin: 1em 0;
}

.btn {
  font-size: 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);

  &.active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  }
}

.btn-light {
  color: #777;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #e7e7e7;
  background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
  background-repeat: repeat-x;
  border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    background-position: 0;
  }
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
  border-color: #1f90bb #1f90bb #145e7a;
  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    background-position: 0;
  }
}

.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
  }
}

.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
  }
}

.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
  }
}

.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #e06342, #dc512c);
  background-repeat: repeat-x;
  border-color: #dc512c #dc512c #a2371a;
  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    background-image: none;
    background-color: #df5c39;
  }
}

.btn-link {
  border-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: #23A1D1;
  border-radius: 0;
  &,
  &:active,
  &[disabled] {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    box-shadow: none;
  }
}

.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    background-color: #222222;
    background-image: linear-gradient(to bottom, #333333, #111111);
  }
}

/* list group */
.list-group {
  a {
    color: #888888;
    display: block;
    &.active {
      &,
      &:hover,
      &:focus {
        color: #444444;
        background: #eeeeee;
        border: 1px solid #DDDDDD;
        text-shadow: 0 1px 0 #FFF;
      }
    }
  }
}

/* carousel */
.carousel-caption {
  color: #FFFFFF;
  text-shadow: 0 1px 0 #000000;
  .icon-prev:before {
    content: '\f053';
    font-family: FontAwesome;
  }
  .icon-next:before {
    content: '\f054';
    font-family: FontAwesome;
  }
}

/* product list */
.product-thumb {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  overflow: auto;
  h2 {
    &.price {
      margin: 0;
    }
  }
  h4 {
    font-weight: bold;
    margin-top: 10px;
  }
  .image {
    text-align: center;
    a {
      display: block;
      &:hover {
        opacity: 0.8;
      }
    }
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .caption {
    padding: 0 20px;
    min-height: 180px;
  }
  .rating {
    padding-bottom: 10px;
  }
  .price {
    color: #444;
  }
  .price-new {
    font-weight: 600;
  }
  .price-old {
    color: #999;
    text-decoration: line-through;
    margin-left: 10px;
  }
  .price-tax {
    color: #999;
    font-size: 12px;
    display: block;
  }

  .button-group {
    border-top: 1px solid #ddd;
    background-color: #eee;

    button {
      width: 60%;
      border: none;
      display: inline-block;
      float: left;
      background-color: #eee;
      color: #888;
      line-height: 38px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      &:hover {
        color: #444;
        background-color: #ddd;
        text-decoration: none;
        cursor: pointer;
      }
      + button {
        width: 20%;
        border-left: 1px solid #ddd;
      }
    }
  }

  @media (max-width: 992px) {
    .button-group {
      button {
        &,
        + button {
          width: 33.33%;
        }
      }
    }
  }
}

.product-grid {
  .product-thumb {
    .image {
      float: none;
    }
  }
  @media (max-width: 767px) {
    .product-thumb {
      .caption {
        min-height: 0;
      }
    }
  }
  @media (max-width: 1200px) {
    .product-thumb {
      .caption {
        min-height: 210px;
        padding: 0 10px;
      }
    }
  }
}

.product-list {
  .product-thumb {
    .caption {
      //margin-left: 230px;
    }
    .button-group {
      border-left: 1px solid #ddd;
    }
  }

  @media (min-width: 768px) {
    .product-thumb {
      .image {
        //float: left;
        padding: 0 15px;
        display: inline-block;
        width: 30%;

        + div {
          display: inline-block;
          margin-left: 0%;
          width: 69.5%;

        }
      }
    }
  }
  @media (max-width: 767px) {
    .product-thumb {
      .caption {
        min-height: 0;
        margin-left: 0;
        padding: 0 10px;
      }
      .button-group {
        border-left: none;
      }
    }
  }
}

.rating {
  .fa-stack {
    font-size: 8px;
  }
  .fa-star-o {
    color: #999;
    font-size: 15px;
  }
  .fa-star {
    color: #FC0;
    font-size: 15px;
    + .fa-star-o {
      color: #E69500;
    }
  }
}

.thumbnails {
  overflow: auto;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -20px;
  margin-bottom: 20px;

  > li {
    margin-left: 20px;

    > a {
      display: block;
      padding: 4px;
      margin-bottom: 20px;
      line-height: 1.42857143;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      -webkit-transition: border .2s ease-in-out;
      -o-transition: border .2s ease-in-out;
      transition: border .2s ease-in-out;
    }
  }
  > img {
    width: 100%;
  }
  .image-additional {
    float: left;
    margin-left: 20px;
    max-width: 78px;
    a {
      margin-bottom: 20px;
      padding: 5px;
      display: block;
      border: 1px solid #ddd;
    }
  }
}

@media (min-width: 1200px) {
  #content .col-lg-2:nth-child(6n+1),
  #content .col-lg-3:nth-child(4n+1),
  #content .col-lg-4:nth-child(3n+1),
  #content .col-lg-6:nth-child(2n+1) {
    clear: left;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #content .col-md-2:nth-child(6n+1),
  #content .col-md-3:nth-child(4n+1),
  #content .col-md-4:nth-child(3n+1),
  #content .col-md-6:nth-child(2n+1) {
    clear: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #content .col-sm-2:nth-child(6n+1),
  #content .col-sm-3:nth-child(4n+1),
  #content .col-sm-4:nth-child(3n+1),
  #content .col-sm-6:nth-child(2n+1) {
    clear: left;
  }
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
  #column-left .product-layout .col-md-3 {
    width: 100%;
  }
  #column-left + #content .product-layout .col-md-3 {
    width: 50%;
  }
  #column-left + #content + #column-right .product-layout .col-md-3 {
    width: 100%;
  }
  #content + #column-right .product-layout .col-md-3 {
    width: 100%;
  }
}

/* fixed product layouts used in left and right columns */
#column-left,
#column-right {
  .product-layout {
    width: 100%;
  }
}

/* BS4 Changes */
.navbar-light {
  .navbar-toggler {
    font-size: 15px;
    font-stretch: expanded;
    color: #FFF;
    padding: 6px 12px;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
    border-color: #1f90bb #1f90bb #145e7a;
  }
}

.buttons {
  height: 20px;
}

.card {
  .card-header {
    > h4 {
      font-size: 16px;
    }
  }

  + .card {
    margin-top: 5px;
  }
}

.form-check {
  .form-check-input {
    margin-top: 0.25rem;
  }
}

.form-control {
  padding: 0.545rem 0.75rem;
}

/* Theme Custom CSS */
#display-control {
  #compare-total {
    &.a {
      margin-top: -2px;
      padding: 0.35rem 0.565rem;
    }
  }
}

#checkout-cart #accordion h4 {
  cursor: pointer;
}

#checkout-cart #accordion h4:before {
  font-family: FontAwesome;
  font-size: 14px/1;
  content: "\f0d7  ";
  margin-right: 10px;
}

#checkout-cart #accordion h4.collapsed:before {
  font-family: FontAwesome;
  font-size: 14px/1;
  content: "\f0da";
  margin-right: 10px;
}

#checkout-checkout #accordion h4 {
  cursor: pointer;
}

#checkout-checkout #accordion h4:before {
  font-family: FontAwesome;
  font-size: 14px/1;
  content: "\f0d7  ";
  margin-right: 10px;
}

#checkout-checkout #accordion h4.collapsed:before {
  font-family: FontAwesome;
  font-size: 14px/1;
  content: "\f0da";
  margin-right: 10px;
}

#product-product {
  h1 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

#information-contact {
  .card {
    margin-bottom: 20px;
  }
}

#alert-box {
  position: fixed;
  top: 15px;
  right: 0;
  transition: all 0.5s;
  z-index: 99;
  &.open {
    right: 15px;
  }

  > .alert {
    padding-right: 28px;
  }
  .close {
    padding: 5px 8px;
  }
}
