#header .div3 {
	width: 268px;
	height: 67px;
}
#header .div4 .icon {
	position: relative;
	top: 12px;
	margin-right: 4px;
}
#header .div4 .split {
	position: relative;
	top: 14px;
	margin-left: 20px;
	margin-right: 0px;
}
#content {
	float: left;
	width: 580px;
}
#content .top {
	clear: both;
	width: 580px;
}
#content .middle {
	clear: both;
	display: block;
	height: 380px;
}
#content .bottom {
	clear: both;
	width: 580px;
	line-height: 5px;
}
.box {
	float: left;
	clear: both;
	width: 100%;
}
.box .top {
	float: left;
	clear: both;
	width: 100%;
}
.box .middle {
	float: left;
	clear: both;
	width: 180px;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;	
}
.box .bottom {
	line-height: 5px;
	clear: both;
	width: 100%;
}
.buttons {
	width: 100%;
}
.cart {
	border-collapse: collapse;
	margin-bottom: 10px;
	width: 558px;
	border: 1px solid #EEEEEE;
}