#slider-wrapper {
	margin-bottom: 20px;
}
#slider {
	position: relative;
	background: url('../image/loading-1.gif') no-repeat 50% 50%;
}
#slideshow img {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}
#slideshow a {
	border: 0;
	display: block;
}
.nivo-controlNav {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0px;
	text-align: center;
}
.nivo-controlNav a {
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url('../image/bullets.png') no-repeat;
	text-indent: -9999px;
	border: 0;
	margin-right: 3px;
	position: relative;
	z-index: 3;
	cursor: pointer;
}
.nivo-controlNav a.active {
	background-position: 0 -22px;
	font-weight: bold;
}
.nivo-directionNav a {
	display: block;
	width: 30px;
	height: 30px;
	background: url('../image/arrows.png') no-repeat;
	text-indent: -9999px;
	border: 0;
	position: absolute;
	top: 45%;
	z-index: 3;
	cursor: pointer;
}
a.nivo-nextNav {
	background-position: -30px 0;
	right: 15px;
}
a.nivo-prevNav {
	left: 15px;
}
.nivoSlider {
	position: relative;
}
.nivoSlider img {
	position: absolute;
	top: 0px;
	left: 0px;
}
.nivoSlider a.nivo-imageLink {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	z-index: 2;
	display: none;
}
.nivo-slice {
	display: block;
	position: absolute;
	z-index: 1;
	height: 100%;
}
.nivo-caption {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	background: #000;
	color: #fff;
	opacity: 0.8;
	z-index: 2;
	text-shadow: none;
	display: none;
	font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption p {
	padding: 5px;
	margin: 0;
}
.nivo-caption a {
	display: inline !important;
	color: #efe9d1;
	text-decoration: underline;
}
.nivo-html-caption {
	display: none;
}
.nivo-prevNav {
	left: 0px;
}
.nivo-nextNav {
	right: 0px;
}
