span.hidden-xs {
    display: inline !important;
}
.nav-tabs {
	margin-bottom: 15px;
}
/*
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #666;
}
body > .container {
	min-height: 600px;
}

h1, h2, h3, h4, h5, h6 {
	color: #444;
}
input[class^="icon-"] {
	background: 0;
	padding: 0;
	border: 0;
	color: #09F;
	font-size: 14px;
}
input[class^="icon-"]:hover {
	color: #0066cc;
}
.line-through {
	text-decoration: line-through;
}
.buttons {
	margin: 1em 0;
}
.remove {
	cursor: pointer;
}

.box-shadow {
	-webkit-box-shadow: 0px 0px 5px 0px #000;
	box-shadow: 0px 0px 5px 0px #000;
}
.transition, .transition a, .transition input {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.animated {
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes fadeIn {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
 @-moz-keyframes fadeIn {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
 @-o-keyframes fadeIn {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
 @keyframes fadeIn {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}

.table tbody + tbody {
	border-top: none;
}
thead {
	font-weight: bold;
	background-color: #eee;
}

.well {
	background-color: #eee;
	border: 1px solid #ddd;
}
.well-nav {
	margin-top: 20px;
	padding: 10px 0;
}


.alert.alert-form {
	margin: 10px 0 0 0;
}


.topbar .nav>li>a {
	padding: 10px;
}
.navbar.navbar-static-top .container {
	padding: 0 20px;
}
.navbar form {
	margin: 0;
}
.currency-dropdown a:hover {
	cursor: pointer;
}
.navbar .nav > li > a {
	color: #888;
}
.navbar .nav > li > a:hover {
	color: #666;
}
.topbar a {
	color: #888;
}
.topbar a:hover {
	color: #666;
}
.topbar a:hover, .topbar a:focus {
	color: #333;
	text-decoration: none;
	background: none;
}
.topbar a strong {
	font-size: 14px;
}
#language-choice {
	position: relative;
	top: -2px;
}


header {
	padding: 20px 0 0 0;
}


#search {
	width: 100%;
}
#search input, #search .btn {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#search input {
	width: 80%;
	height: 40px;
	padding: 0 10px;
}
#search .btn {
	width: 20%;
	height: 40px;
	line-height: 30px;
}


#cart {
	margin-bottom: 10px;
}
#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}
#cart > .btn {
	height: 40px;
	line-height: 32px;
}
#cart.open > .btn {
	color: #666;
	text-shadow: none;
}
.cart-empty {
	min-width: 238px;
	display: block;
	padding: 10px 0;
	text-align: center;
}
.cart-totals {
	padding: 0 20px;
	margin: 0;
}
.cart-totals strong {
	display: inline-block;
	text-align: left;
	width: 40%;
}
.cart-totals span {
	display: inline-block;
	text-align: right;
	width: 60%;
}
.cart-btns {
	text-align: right;
	margin: 0;
	padding: 5px 20px;
}
.cart-btns li {
	margin-left: 20px;
}
.cart-btns li a {
	font-weight: bold;
}
#cart .table tr {
	border-bottom: 1px solid #dddddd;
}
#cart .table tr:nth-last-child(odd) {
	background: #fff;
}
#cart .table td {
	border: 0;
	padding: 20px;
}
#cart .table .name {
	font-weight: bold;
}
#cart .table .image .thumbnail {
	display: inline-block;
}



header .navbar {
	margin: 10px 0 20px 0;
}
.navbar .nav {
	margin: 0;
}
.navbar-inner {
	background-color: #e7e7e7;
	background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#dddddd));
	background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
	background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
	background-repeat: repeat-x;
	filter: none;
	border: 1px solid #cccccc;
}
.topbar .navbar-inner {
	background-image: none;
	background-color: #eee;
	border: 0;
	border-bottom: 1px solid #e2e2e2;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
}
.navbar-inverse .navbar-inner {
	background-color: #229ac8;
	background-image: -moz-linear-gradient(top, #23a1d1, #1f90bb);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#23a1d1), to(#1f90bb));
	background-image: -webkit-linear-gradient(top, #23a1d1, #1f90bb);
	background-image: -o-linear-gradient(top, #23a1d1, #1f90bb);
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	filter: none;
	border-color: #1f90bb #1f90bb #145e7a;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 *background-color: #1f90bb;
}
.navbar-inverse .brand, .navbar-inverse .nav>li>a {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar .categories {
	float: left;
	display: block;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.navbar-inverse .nav-collapse .nav>li>a:hover, .navbar-inverse .nav-collapse .nav>li>a:focus, .navbar-inverse .nav-collapse .dropdown-menu a:hover, .navbar-inverse .nav-collapse .dropdown-menu a:focus {
	background-color: rgba(0,0,0,0.1);
	color: #fff;
}
.navbar-inverse .nav li.dropdown.open>.dropdown-toggle, .navbar-inverse .nav li.dropdown.active>.dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active>.dropdown-toggle {
	background-color: rgba(0,0,0,0.1);
	color: #fff;
}
.btn-group.open .dropdown-toggle {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-group.open .btn.dropdown-toggle {
	background: none;
}
.navbar-inverse .btn-navbar {
	background-color: #229ac8;
	background-image: -moz-linear-gradient(top, #23a1d1, #1f90bb);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#23a1d1), to(#1f90bb));
	background-image: -webkit-linear-gradient(top, #23a1d1, #1f90bb);
	background-image: -o-linear-gradient(top, #23a1d1, #1f90bb);
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff23a1d1', endColorstr='#ff1f90bb', GradientType=0);
	border-color: #1f90bb #1f90bb #145e7a;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 *background-color: #1f90bb;
}
.navbar-inverse .btn-navbar:hover, .navbar-inverse .btn-navbar:focus, .navbar-inverse .btn-navbar:active, .navbar-inverse .btn-navbar.disabled, .navbar-inverse .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
.navbar .nav>li>.dropdown-menu:before {
	content: none;
}
.navbar .nav>li>.dropdown-menu:after {
	content: none;
}
.navbar .nav>li>.dropdown-menu:first-of-type:before {
	content: "";
}
.navbar .nav>li>.dropdown-menu:first-of-type:after {
	content: "";
}
.navbar .dropdown-menu {
	padding: 5px 0 0 0;
	float: none;
}
.navbar .dropdown-menu ul {
	display: table-cell;
}
.navbar .dropdown-menu li a {
	min-width: 120px;
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	color: #333333;
}
.navbar .dropdown-menu li a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: -moz-linear-gradient(top, #23a1d1, #1f90bb);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#23a1d1), to(#1f90bb));
	background-image: -webkit-linear-gradient(top, #23a1d1, #1f90bb);
	background-image: -o-linear-gradient(top, #23a1d1, #1f90bb);
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff23a1d1', endColorstr='#ff1f90bb', GradientType=0);
}
.navbar .nav>li.dropdown:after {
	content: '';
	display: none;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
	margin-bottom: -1px;
}
.navbar .nav>li.dropdown:hover:after {
	display: block;
}
.navbar .nav>li .dropdown-menu:after, .navbar .nav>li .dropdown-menu:before {
	display: none;
}
.navbar-inverse .nav-collapse .nav>li>a:hover, .navbar-inverse .nav-collapse .nav>li>a:focus, .navbar-inverse .nav-collapse .dropdown-menu a:hover, .navbar-inverse .nav-collapse .dropdown-menu a:focus {
	color: #fff;
}
.dropdown-inner {
	display: table;
}
.see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
.see-all:hover, .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: -moz-linear-gradient(top, #23a1d1, #1f90bb);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#23a1d1), to(#1f90bb));
	background-image: -webkit-linear-gradient(top, #23a1d1, #1f90bb);
	background-image: -o-linear-gradient(top, #23a1d1, #1f90bb);
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff23a1d1', endColorstr='#ff1f90bb', GradientType=0);
}


.breadcrumb {
	margin: 0 0 20px 0;
	padding: 8px 0;
	border: 1px solid #ddd;
}
.breadcrumb>li {
	display: inline-block;
	text-shadow: 0 1px 0 #FFF;
	padding: 0 20px;
	position: relative;
}
.breadcrumb > li:after {
	content: "";
	display: block;
	position: absolute;
	top: -3px;
	right: -5px;
	width: 26px;
	height: 26px;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.btn {
	color: #777;
	background-color: #e7e7e7;
	background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#dddddd));
	background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
	background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffdddddd', GradientType=0);
	border-color: #dddddd #dddddd #b7b7b7;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 *background-color: #dddddd;

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border: 1px solid #cccccc;
 *border: 0;
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
 *margin-left: .3em;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
	color: #333333;
	background-color: #dddddd;
 *background-color: #d0d0d0;
}
.btn:active, .btn.active {
	background-color: #c4c4c4 \9;
}

.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #229ac8;
	background-image: -moz-linear-gradient(top, #23a1d1, #1f90bb);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#23a1d1), to(#1f90bb));
	background-image: -webkit-linear-gradient(top, #23a1d1, #1f90bb);
	background-image: -o-linear-gradient(top, #23a1d1, #1f90bb);
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff23a1d1', endColorstr='#ff1f90bb', GradientType=0);
	border-color: #1f90bb #1f90bb #145e7a;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 *background-color: #1f90bb;

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	color: #ffffff;
	background-color: #1f90bb;
 *background-color: #1c7fa5;
}
.btn-primary:active, .btn-primary.active {
	background-color: #186f8f \9;
}

.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: -moz-linear-gradient(top, #fbb450, #f89406);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
	background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
	background-image: -o-linear-gradient(top, #fbb450, #f89406);
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
	border-color: #f89406 #f89406 #ad6704;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 *background-color: #f89406;

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	color: #ffffff;
	background-color: #f89406;
 *background-color: #df8505;
}
.btn-warning:active, .btn-warning.active {
	background-color: #c67605 \9;
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
	border-color: #bd362f #bd362f #802420;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 *background-color: #bd362f;

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	color: #ffffff;
	background-color: #bd362f;
 *background-color: #a9302a;
}
.btn-danger:active, .btn-danger.active {
	background-color: #942a25 \9;
}

.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: -moz-linear-gradient(top, #62c462, #51a351);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
	background-image: -webkit-linear-gradient(top, #62c462, #51a351);
	background-image: -o-linear-gradient(top, #62c462, #51a351);
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
	border-color: #51a351 #51a351 #387038;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 *background-color: #51a351;

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	color: #ffffff;
	background-color: #51a351;
 *background-color: #499249;
}
.btn-success:active, .btn-success.active {
	background-color: #408140 \9;
}

.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: -moz-linear-gradient(top, #e06342, #dc512c);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e06342), to(#dc512c));
	background-image: -webkit-linear-gradient(top, #e06342, #dc512c);
	background-image: -o-linear-gradient(top, #e06342, #dc512c);
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe06342', endColorstr='#ffdc512c', GradientType=0);
	border-color: #dc512c #dc512c #a2371a;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 *background-color: #dc512c;

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	color: #ffffff;
	background-color: #dc512c;
 *background-color: #cd4622;
}
.btn-info:active, .btn-info.active {
	background-color: #b73e1e \9;
}

.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: -moz-linear-gradient(top, #444444, #222222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
	background-image: -webkit-linear-gradient(top, #444444, #222222);
	background-image: -o-linear-gradient(top, #444444, #222222);
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
	border-color: #222222 #222222 #000000;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 *background-color: #222222;

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	color: #ffffff;
	background-color: #222222;
 *background-color: #151515;
}
.btn-inverse:active, .btn-inverse.active {
	background-color: #080808 \9;
}

.btn-large {
	font-size: 16px;
}

.nav-tabs.nav-stacked > li > a {
	color: #888888;
}
.nav-tabs.nav-stacked > li > a:hover, .nav-tabs.nav-stacked > li > a:focus {
	color: #444;
}
.nav-list > li > a {
	padding: 8px 15px;
}
.sidebar .nav-tabs li ul.nav {
	display: none;
	color: #888888;
	font-size: 12px;
}
.sidebar .nav-tabs li.active a {
	color: #444444;
	background: #eeeeee;
}
.sidebar .nav-tabs li.active > a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.sidebar .nav-tabs li.active ul.nav {
	display: block;
	background: #eeeeee;
	border-bottom: 1px solid #DDD;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.sidebar .nav-tabs li.active ul.nav a {
	color: #444444;
	padding: 8px 15px 8px 30px;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
}
.sidebar .nav-tabs li.active ul.nav li:first-child a {
	border-top: 0;
}

.category-info .image img {
	float: left;
}
.product-filter {
	padding: 20px 0;
}
.product-filter select {
	margin: 0;
}
.product-filter .limit {
	margin-left: 20px;
	float: right;
}
.product-filter .sort {
	float: right;
}


.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}
.thumbnails>li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnail > img {
	width: 100%;
}
h2.price {
	margin: 0;
}
ul.option li, ul.cart li {
	margin-bottom: 10px;
}
.option-image img {
	margin: 0 10px;
}
.review-button {
	cursor: pointer;
}
.rating {
	margin-bottom: 1em;
}
.review-title {
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.review-list {
	margin: 2em 0;
}

.product-thumb {
	margin-bottom: 20px;
	position: relative;
	border: 1px solid #ddd;
}
.product-thumb .image {
	padding: 5px;
	text-align: center;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .caption {
	padding: 0 20px;
}
.product-thumb .price {
	color: #444;
}
.product-thumb .button-group {
	border-top: 1px solid #ddd;
	background-color: #eee;
}
.product-thumb .button-group a {
	width: 20%;
	height: 40px;
	display: block;
	float: left;
	background-color: #eee;
	color: #888;
	border-left: 1px solid #ddd;
	line-height: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.product-thumb .button-group a:hover {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}
.product-thumb .button-group a.add-to-cart {
	width: 60%;
	border: none;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	padding-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}

.product-list .span3 {
	float: none;
	width: auto;
}
.product-list .product-thumb {
	padding-bottom: 20px;
}
.product-list .product-thumb .image {
	padding: 0 2%;
	float: left;
	width: 26%;
}
.product-list .product-thumb .caption {
	padding: 0;
	float: left;
	width: 70%;
}
.product-list .product-thumb .button-group {
	float: left;
	width: 70%;
	width: 250px;
	border: 1px solid #DDD;
}

.cart-info {
	margin-top: 20px;
}
.next-choice label {
	margin: 0;
}
#shipping {
	margin-bottom: 20px;
}

.checkout-heading {
	border: 1px solid #ddd;
	padding: 8px;
	margin: 1em 0;
}
.modify-link {
	margin-right: 10px;
	float: right;
	cursor: pointer;
}
#content .checkout .alert {
	display: inline-block;
}
#content .checkout .alert-warning, #content #payment-new .alert, #content #shipping-new .alert {
	display: block;
}

img.captcha {
	margin-bottom: 10px;
}

.footer {
	margin-top: 30px;
	padding-top: 30px;
	background-color: #303030;
	border-top: 1px solid #ddd;
	color: #e2e2e2;
}
.footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
.footer a {
	color: #ccc;
}
.footer a:hover {
	color: #fff;
}
.footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6 {
	color: #fff;
	font-size: 13px;
}

.search-content {
	margin-bottom: 20px;
}
.search-inline {
	margin-bottom: 10px;
}
.search-inline .checkbox, .search-inline .input-medium {
	margin-right: 10px;
}


@media (min-width: 980px) {

.nav > .dropdown:before {
	content: "";
	display: block;
	width: 100%;
	height: 5px;
	z-index: -1;
	position: absolute;
	bottom: -5px;
	left: 0;
}
.nav > .dropdown:hover .dropdown-menu {
	display: block;
}
.dropdown-menu {
	margin: 0;
}
}


@media (max-width: 979px) {
body {
	padding: 0;
}
.container {
	padding: 0 20px;
}


.navbar-inverse .nav-collapse .nav>li>a, .navbar-inverse .nav-collapse .dropdown-menu a {
	color: #fff;
}
.navbar .nav>li.dropdown:hover:after {
	display: none;
}
.navbar .dropdown-menu ul {
	display: block;
}
.navbar .dropdown-menu ul li a:hover {
	background-color: rgba(, 0, 0, 0, 0.1);
	background-image: none;
}
.see-all {
	display: none;
}

.product-thumb .button-group a, .product-thumb .button-group a.add-to-cart {
	width: 33.33%;
}
}


@media (max-width: 767px) {

.navbar-static-top .nav>li>a {
	padding: 10px 10px;
}
.topbar {
	margin: 0 0 20px 0;
}
.topbar .navbar-inner {
	padding: 0;
}
.logo {
	margin: 0 0 20px 0;
	text-align: center;
}

.breadcrumb > li:after {
	display: none;
}

.product-thumb .button-group a {
	width: 20%;
}
.product-thumb .button-group a.add-to-cart {
	width: 60%;
}

.product-filter .display {
	display: none;
}
.product-filter .limit, .product-filter .sort {
	width: 100%;
	margin: 0;
	float: none;
	clear: both;
}
.product-filter .limit select, .product-filter .sort select {
	width: 100%;
	margin: 10px 0;
}
.image-additional .span1 {
	width: 70px;
	margin-right: 20px;
	float: left;
}
}
.ui-datepicker {
	background: #fff;
	border: 1px solid #aaa;
	width: 20em;
	min-width: 20em;
	margin-top: 20px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
	left: auto;
	margin-left: 0;
}
.ui-datepicker .ui-datepicker-next {
	right: 14px;
}
*/
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}

