<h1>{{ text_my_account }}</h1>
<ul class="list-unstyled">
  <li><a href="account/edit.js" data-action="ajax" data-target="content">{{ text_edit }}</a></li>
  <li><a href="account/password.js" data-target="content">{{ text_password }}</a></li>
  <li><a href="account/payment_method.js" data-target="content">{{ text_payment_method }}</a></li>
  <li><a href="account/address.js" data-target="content">{{ text_address }}</a></li>
  <li><a href="account/wishlist.js" data-target="content">{{ text_wishlist }}</a></li>
</ul>
<h2>{{ text_my_orders }}</h2>
<ul class="list-unstyled">
  <li><a href="account/order.js" data-target="content">{{ text_order }}</a></li>
  <li><a href="account/subscription.js" data-target="content">{{ text_subscription }}</a></li>
  <li><a href="account/download.js" data-target="content">{{ text_download }}</a></li>
  {% if reward %}
    <li><a href="account/reward.js" data-target="content">{{ text_reward }}</a></li>
  {% endif %}
  <li><a href="account/return.js" data-target="content">{{ text_return }}</a></li>
  <li><a href="account/transaction.js" data-target="content">{{ text_transaction }}</a></li>
</ul>
{% if affiliate %}
  <h2>{{ text_my_affiliate }}</h2>
  <ul class="list-unstyled">
    {% if not tracking %}
      <li><a href="account/affiliate.js" data-target="content">{{ text_affiliate_add }}</a></li>
    {% else %}
      <li><a href="account/affiliate.js" data-target="content">{{ text_affiliate_edit }}</a></li>
      <li><a href="account/tracking.js" data-target="content">{{ text_tracking }}</a></li>
    {% endif %}
  </ul>
{% endif %}
<h2>{{ text_my_newsletter }}</h2>
<ul class="list-unstyled">
  <li><a href="account/newsletter.js" data-target="content">{{ text_newsletter }}</a></li>
</ul>
