<h1>{{ heading_title }}</h1>
<form id="form-address" @submit="onSubmit">
  <fieldset>
    <div class="row mb-3">
      <label for="input-firstname" class="col-sm-2 col-form-label">{{ entry_firstname }}</label>
      <div class="col-sm-10">
        <input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname" class="form-control" required/>
        <div id="error-firstname" class="invalid-feedback"></div>
      </div>
    </div>
    <div class="row mb-3 ">
      <label for="input-lastname" class="col-sm-2 col-form-label">{{ entry_lastname }}</label>
      <div class="col-sm-10">
        <input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control" required/>
        <div id="error-lastname" class="invalid-feedback"></div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="input-company" class="col-sm-2 col-form-label">{{ entry_company }}</label>
      <div class="col-sm-10">
        <input type="text" name="company" value="{{ company }}" placeholder="{{ entry_company }}" id="input-company" class="form-control"/>
      </div>
    </div>
    <div class="row mb-3">
      <label for="input-address-1" class="col-sm-2 col-form-label">{{ entry_address_1 }}</label>
      <div class="col-sm-10">
        <input type="text" name="address_1" value="{{ address_1 }}" placeholder="{{ entry_address_1 }}" id="input-address-1" class="form-control" required/>
        <div id="error-address-1" class="invalid-feedback"></div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="input-address-2" class="col-sm-2 col-form-label">{{ entry_address_2 }}</label>
      <div class="col-sm-10">
        <input type="text" name="address_2" value="{{ address_2 }}" placeholder="{{ entry_address_2 }}" id="input-address-2" class="form-control"/>
      </div>
    </div>
    <div class="row mb-3">
      <label for="input-city" class="col-sm-2 col-form-label">{{ entry_city }}</label>
      <div class="col-sm-10">
        <input type="text" name="city" value="{{ city }}" placeholder="{{ entry_city }}" id="input-city" class="form-control" required/>
        <div id="error-city" class="invalid-feedback"></div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="input-postcode" class="col-sm-2 col-form-label">{{ entry_postcode }}</label>
      <div class="col-sm-10">
        <input type="text" name="postcode" value="{{ postcode }}" placeholder="{{ entry_postcode }}" id="input-postcode" class="form-control" required/>
        <div id="error-postcode" class="invalid-feedback"></div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="input-country" class="col-sm-2 col-form-label">{{ entry_country }}</label>
      <div class="col-sm-10">
        <input-country name="country_id" value="{{ country_id }}" id="input-country" postcode="1" target="input-postcode" input-id="input-country" input-class="form-select" required>
          <option value="0">{{ text_select }}</option>
        </input-country>
        <div id="error-country" class="invalid-feedback"></div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="input-zone" class="col-sm-2 col-form-label">{{ entry_zone }}</label>
      <div class="col-sm-10">
        <input-zone name="zone_id" value="{{ zone_id }}" target="input-country" input-id="input-zone" input-class="form-select" required>
          <option value="0">{{ text_select }}</option>
        </input-zone>
        <div id="error-zone" class="invalid-feedback"></div>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">{{ entry_default }}</label>
      <div class="col-sm-10">
        <div class="form-check-inline">
          <input type="radio" name="default" value="1" id="input-default-yes" class="form-check-input"{% if default %} checked{% endif %}/>
          <label for="input-default-yes" class="form-check-label">{{ text_yes }}</label>
        </div>
        <div class="form-check-inline">
          <input type="radio" name="default" value="0" id="input-default-no" class="form-check-input"{% if not default %} checked{% endif %}/>
          <label for="input-default-no" class="form-check-label">{{ text_no }}</label>
        </div>
      </div>
    </div>

  </fieldset>
  <div class="row">
    <div class="col">
      <a href="account/address.js" :click="link" class="btn btn-light">{{ button_back }}</a>
    </div>
    <div class="col text-end">
      <button-submit @ref="button" class="btn btn-primary">{{ button_continue }}</button-submit>
    </div>
  </div>
</form>




