<h1>{{ heading_title }}</h1>
{% if addresses %}
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    {% for address in addresses %}
    <tr>
      <td>{{ address.address }}</td>
      <td>{% if address.default %}<strong>{{ text_default }}</strong>{% endif %}</td>
      <td class="text-end">
        <button type="button" value="{{ address.address.id }}" data-on="click:edit" title="{{ button_edit }}" class="btn btn-primary"><i class="fa-regular fa-solid fa-pencil"></i></button>
        <button type="button" value="{{ address.address_id }}" data-on="click:delete" title="{{ button_delete }}" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></button>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% else %}
<p>{{ text_no_results }}</p>
{% endif %}
<div class="row">
  <div class="col">
    <a href="account/account.js" class="btn btn-light" data-on="click:onClick">{{ button_back }}</a>
  </div>
  <div class="col text-end">
    <a href="account/address_form.js" class="btn btn-primary">{{ button_address_add }}</a>
  </div>
</div>


