<h1>{{ heading_title }}</h1>
<form id="form-affiliate" @submit="onSubmit">

  <fieldset>
    <legend>{{ text_my_affiliate }}</legend>
    <div class="row mb-3">
      <label for="input-company" class="col-sm-2 col-form-label">{{ entry_company }}</label>
      <div class="col-sm-10">
        <input type="text" name="company" value="{{ company }}" placeholder="{{ entry_company }}" id="input-company" class="form-control"/>
      </div>
    </div>
    <div class="row mb-3">
      <label for="input-website" class="col-sm-2 col-form-label">{{ entry_website }}</label>
      <div class="col-sm-10">
        <input type="text" name="website" value="{{ website }}" placeholder="{{ entry_website }}" id="input-website" class="form-control"/>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{ text_payment }}</legend>
    <div class="row mb-3">
      <label for="input-tax" class="col-sm-2 col-form-label">{{ entry_tax }}</label>
      <div class="col-sm-10">
        <input type="text" name="tax" value="{{ tax }}" placeholder="{{ entry_tax }}" id="input-tax" class="form-control"/>
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">{{ entry_payment_method }}</label>
      <div class="col-sm-10">
        <div class="form-check">
          <input type="radio" name="payment_method" value="cheque" id="input-payment-cheque" class="form-check-input"{% if payment_method == 'cheque' %} checked{% endif %}/>
          <label for="input-payment-cheque" class="form-check-label">{{ text_cheque }}</label>
        </div>
        <div class="form-check">
          <input type="radio" name="payment_method" value="paypal" id="input-payment-paypal" class="form-check-input"{% if payment_method == 'paypal' %} checked{% endif %}/>
          <label for="input-payment-paypal" class="form-check-label">{{ text_paypal }}</label>
        </div>
        <div class="form-check">
          <input type="radio" name="payment_method" value="bank" id="input-payment-bank" class="form-check-input"{% if payment_method == 'bank' %} checked{% endif %}/>
          <label for="input-payment-bank" class="form-check-label">{{ text_bank }}</label>
        </div>
        <div id="error-payment-method" class="invalid-feedback"></div>
      </div>
    </div>

    <div class="row mb-3 required payment" id="payment-cheque">
      <label for="input-cheque" class="col-sm-2 col-form-label">{{ entry_cheque }}</label>
      <div class="col-sm-10">
        <input type="text" name="cheque" value="{{ cheque }}" placeholder="{{ entry_cheque }}" id="input-cheque" class="form-control"/>
        <div id="error-cheque" class="invalid-feedback"></div>
      </div>
    </div>

    <div class="row mb-3 required payment" id="payment-paypal">
      <label for="input-paypal" class="col-sm-2 col-form-label">{{ entry_paypal }}</label>
      <div class="col-sm-10">
        <input type="text" name="paypal" value="{{ paypal }}" placeholder="{{ entry_paypal }}" id="input-paypal" class="form-control"/>
        <div id="error-paypal" class="invalid-feedback"></div>
      </div>
    </div>

    <div id="payment-bank" class="payment">
      <div class="row mb-3">
        <label for="input-bank-name" class="col-sm-2 col-form-label">{{ entry_bank_name }}</label>
        <div class="col-sm-10">
          <input type="text" name="bank_name" value="{{ bank_name }}" placeholder="{{ entry_bank_name }}" id="input-bank-name" class="form-control"/>
        </div>
      </div>
      <div class="row mb-3">
        <label for="input-bank-branch-number" class="col-sm-2 col-form-label">{{ entry_bank_branch_number }}</label>
        <div class="col-sm-10">
          <input type="text" name="bank_branch_number" value="{{ bank_branch_number }}" placeholder="{{ entry_bank_branch_number }}" id="input-bank-branch-number" class="form-control"/>
        </div>
      </div>
      <div class="row mb-3">
        <label for="input-bank-swift-code" class="col-sm-2 col-form-label">{{ entry_bank_swift_code }}</label>
        <div class="col-sm-10">
          <input type="text" name="bank_swift_code" value="{{ bank_swift_code }}" placeholder="{{ entry_bank_swift_code }}" id="input-bank-swift-code" class="form-control"/>
        </div>
      </div>
      <div class="row mb-3 required row">
        <label for="input-bank-account-name" class="col-sm-2 col-form-label">{{ entry_bank_account_name }}</label>
        <div class="col-sm-10">
          <input type="text" name="bank_account_name" value="{{ bank_account_name }}" placeholder="{{ entry_bank_account_name }}" id="input-bank-account-name" class="form-control"/>
          <div id="error-bank-account-name" class="invalid-feedback"></div>
        </div>
      </div>
      <div class="row mb-3 required row">
        <label for="input-bank-account-number" class="col-sm-2 col-form-label">{{ entry_bank_account_number }}</label>
        <div class="col-sm-10">
          <input type="text" name="bank_account_number" value="{{ bank_account_number }}" placeholder="{{ entry_bank_account_number }}" id="input-bank-account-number" class="form-control"/>
          <div id="error-bank-account-number" class="invalid-feedback"></div>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="text-end">
    {% if text_agree %}
      <label for="input-agree" class="form-check-label">{{ text_agree }}</label>
      <x-switch name="agree" value="1" input-id="input-agree" input-class="form-switch form-switch-lg form-check-reverse form-check-inline align-top"></x-switch>
    {% endif %}
    <button type="submit" class="btn btn-primary">{{ button_continue }}</button>
  </div>
</form>
