<h1>{{ heading_title }}</h1>
<p>{{ text_account_already | safe }}</p>
<form @ref="form" @submit="onSubmit">
  <fieldset id="account">
    <legend>{{ text_your_details }}</legend>

    <div class="row mb-3">
      <label for="input-firstname" class="col-sm-2 col-form-label">{{ entry_firstname }}</label>
      <div class="col-sm-10">
        <input type="text" name="firstname" value="" placeholder="{{ entry_firstname }}" id="input-firstname" class="form-control" required/>
        <div id="error-firstname" class="invalid-feedback"></div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="input-lastname" class="col-sm-2 col-form-label">{{ entry_lastname }}</label>
      <div class="col-sm-10">
        <input type="text" name="lastname" value="" placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control" required/>
        <div id="error-lastname" class="invalid-feedback"></div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="input-email" class="col-sm-2 col-form-label">{{ entry_email }}</label>
      <div class="col-sm-10">
        <input type="email" name="email" value="" placeholder="{{ entry_email }}" id="input-email" class="form-control" required/>
        <div id="error-email" class="invalid-feedback"></div>
      </div>
    </div>

    {% if config_telephone_status %}
    <div class="row mb-3">
      <label for="input-telephone" class="col-sm-2 col-form-label">{{ entry_telephone }}</label>
      <div class="col-sm-10">
        <input type="tel" name="telephone" value="" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control" {% if config_telephone_required %} required{% endif %}/>
        <div id="error-telephone" class="invalid-feedback"></div>
      </div>
    </div>
    {% endif %}
  </fieldset>

  <fieldset>
    <legend>{{ text_your_password }}</legend>
    <div class="row mb-3">
      <label for="input-password" class="col-sm-2 col-form-label">{{ entry_password }}</label>
      <div class="col-sm-10">
        <input type="password" name="password" value="" placeholder="{{ entry_password }}" id="input-password" class="form-control" required/>
        <div id="error-password" class="invalid-feedback"></div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{ text_newsletter }}</legend>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">{{ entry_newsletter }}</label>
      <div class="col-sm-10">
        <input-switch name="newsletter" value="1" input-id="input-newsletter" input-class="form-switch form-switch-lg"></input-switch>
      </div>
    </div>
  </fieldset>

  {% if config_captcha %}
  <account-captcha type="{{ config_captcha }}"></account-captcha>
  {% endif %}

  <div class="text-end">
    {% if config_account_id %}

    <label class="form-check-label">{{ text_agree }}</label>
    <input-switch name="agree" value="1" @change="onAgree" input-class="form-switch form-switch-lg"></input-switch>

    {% endif %}

    <button-submit @ref="submitter">{{ button_continue }}</button-submit>

  </div>
</form>