<h1>{{ heading_title }}</h1>
<p>{{ text_account_already | safe }}</p>
<form-input @ref="form" @submit="onSubmit">
  <fieldset>
    <legend>{{ text_your_details }}</legend>

    <form-group @ref="input-firstname" required>
      <label slot="label">{{ entry_firstname }}</label>
      <input-text slot="input" name="firstname" value="test123"/>
    </form-group>


    <div class="row mb-3">
      <label slot="label">{{ entry_lastname }}</label>
      <slot name="lastname"></slot>


      <div class="col-sm-10">
        <input-text type="text" name="lastname" value="test123" placeholder="{{ entry_lastname }}" id="input-lastname" required/>
        <div id="error-lastname" class="invalid-feedback"></div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="input-email" class="form-label">{{ entry_email }}</label>
      <input-email label="{{ entry_email }}" name="email" value="test123@test123.com" required/>
    </div>

    {% if config_telephone_status %}
    <div class="row mb-3">
      <label for="input-telephone" class="col-sm-2 col-form-label">{{ entry_telephone }}</label>
      <div class="col-sm-10">
        <input-tel name="telephone" value="0123456789" placeholder="{{ entry_telephone }}" id="input-telephone" {% if config_telephone_required %} required{% endif %}/>
        <div id="error-telephone" class="invalid-feedback"></div>
      </div>
    </div>
    {% endif %}

  </fieldset>

  <fieldset>
    <legend>{{ text_your_password }}</legend>
    <div class="row mb-3">
      <label slot="label">{{ entry_password }}</label>
      <input-password label="{{ entry_password }}" name="password" value="1234567890" required/>
      <div id="error-password" class="invalid-feedback"></div>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{ text_newsletter }}</legend>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">{{ entry_newsletter }}</label>
      <div class="col-sm-10">
        <input-switch name="newsletter" value="1" input-id="input-newsletter" input-class="form-switch form-switch-lg"></input-switch>
      </div>
    </div>
  </fieldset>

  {% if config_captcha %}
  <account-captcha type="{{ config_captcha }}"></account-captcha>
  {% endif %}

  <div class="text-end">
    {% if config_account_id %}

    <label class="form-check-label">{{ text_agree }}</label>
    <input-switch name="agree" value="1" @change="onAgree" input-class="form-switch form-switch-lg"></input-switch>

    {% endif %}

    <button-submit @ref="submitter">{{ button_continue }}</button-submit>

  </div>
</form-input>