<div class="panel panel-default checkout-panel">
  <div class="pilibaba-checkout-text">
    <div>中国用户请点击Pilibaba按钮跳转至中文页面付款</div>
    <div>Chinese customers please click Pilibaba button to complete checkout</div>
  </div>

  <a href="{{ payment_url }}" title="Pilibaba" class="pilibaba-button"><img src="catalog/view/theme/default/image/pilibaba_button.png" alt="Pilibaba" title="Pilibaba"></a>
</div>

<style>
.checkout-panel {
	text-align: center;
	padding: 7px 0;
	background: #f6f6f6;
	font-size: 14px;
}

.pilibaba-checkout-text {
	text-align: center;
	padding-bottom: 1rem;
}

.checkout-panel img {
	width: 150px;
	height: 40px;
	position: relative;
}

@media (min-width: 992px) {
	.pilibaba-checkout-text {
		display: inline-block;
		position: relative;
		top: 6px;
		margin-right: 10px;
	}
}

@media (min-width: 992px) {
	.checkout-panel img {
		top: -4px;
	}
}
</style>