<div class="panel panel-default">
  <div class="panel-body" style="text-align: right;">
    <div class="buttons">
      <div class="pull-right">
        <a id="button-confirm" href="{{ payment_url }}"></a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
window.paypalCheckoutReady = function () {
  paypal.checkout.setup('{{ paypal_username }}', {
    container: 'button-confirm',
    environment: '{{ paypal_environment }}'
  });
};
//--></script>
<script src="//www.paypalobjects.com/api/checkout.js" async></script>
