<div id="paypal-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ text_paypal_googlepay_title }}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div id="paypal-form">
          {% if googlepay_button_status %}
            <div id="googlepay-button" class="googlepay-button pt-4 pd-4 w-100 mb-3 clearfix">
              <div id="googlepay-button-container" class="googlepay-button-container paypal-spinner"></div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>