{% if products %}
  <product-toolbar></product-toolbar>
  <div id="product-list" class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4">
    {% for product in products %}
      <div class="col mb-3"><product-thumb product="{{ product_id }}"></product-thumb></div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col-sm-6 text-start"><x-pagination>{{ pagination }}</x-pagination></div>
    <div class="col-sm-6 text-end">{{ results }}</div>
  </div>
{% endif %}
{% if not categories and not products %}
  <p>{{ text_no_results }}</p>
  <div class="text-end"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
{% endif %}
