<div class="alert alert-warning"><button class="btn btn-warning">I Agree</button> </div>


<link href="extension/opencart/catalog/view/stylesheet/cookie.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript"><!--

//--></script>