<footer class="mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
          {% if articles %}
            <li><a href="cms/topic.js" data-on="click:onClick">{{ text_blog }}</a></li>
          {% endif %}
          {% for information in informations %}
            <li><a href="information/information.js?information_id={{ information.information_id }}" data-on="click:onClick">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="information/contact.js" data-on="click:onClick">{{ text_contact }}</a></li>
          <li><a href="account/return_form.js" data-on="click:onClick">{{ text_return }}</a></li>
          {% if gdpr %}
            <li><a href="information/gdpr.js" data-on="click:onClick">{{ text_gdpr }}</a></li>
          {% endif %}
          <li><a href="information/sitemap.js" data-on="click:onClick">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="catalog/manufacturer.js" data-on="click:onClick">{{ text_manufacturer }}</a></li>
          {% if affiliate %}
            <li><a href="account/affiliate.js" data-on="click:onClick">{{ text_affiliate }}</a></li>
          {% endif %}
          <li><a href="catalog/special.js" data-on="click:onClick">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="account/account.js" data-on="click:onClick">{{ text_account }}</a></li>
          <li><a href="account/order.js" data-on="click:onClick">{{ text_order }}</a></li>
          <li><a href="account/wishlist.js" data-on="click:onClick">{{ text_wishlist }}</a></li>
          <li><a href="account/newsletter.js" data-on="click:onClick">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>{{ text_powered | replace_first: '%s', config_name | replace_first: '%s', year }}</p>
    <!--
OpenCart is open source software and your free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
  </div>
</footer>

