<footer class="mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
          {% if articles %}
            <li><x-link href="cms/article.html" target="#content">{{ text_blog }}</x-link></li>
          {% endif %}
          {% for information in informations %}
            <li><a href="information/information-{{ information.information_id }}.html">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="information/contact.html">{{ text_contact }}</a></li>
          <li><a href="information/return.html">{{ text_return }}</a></li>
          {% if gdpr %}
            <li><a href="information/gdpr.html">{{ text_gdpr }}</a></li>
          {% endif %}
          <li><a href="information/sitemap.html">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="catalog/manufacturer.html">{{ text_manufacturer }}</a></li>
          {% if affiliate %}
            <li><a href="account/affiliate.html">{{ text_affiliate }}</a></li>
          {% endif %}
          <li><a href="catalog/special.html">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="account/account.html">{{ text_account }}</a></li>
          <li><a href="account/order.html">{{ text_order }}</a></li>
          <li><a href="account/wishlist.html">{{ text_wishlist }}</a></li>
          <li><a href="account/newsletter.html">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>{{ text_powered | replace_first: '%s', config_name | replace_first: '%s', year }}</p>
    <!--
OpenCart is open source software and your free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
  </div>
</footer>

