<x-header>


fgfg


</x-header>


<div id="common-home" class="container">

  <div class="row">


    <div id="content" class="col">


      <x-banner type="slide" source="" limit=""></x-banner>

      {{ content_bottom }}
    </div>



  </div>
</div>


<x-footer></x-footer>