<div id="search" class="input-group mb-3">
	<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control form-control-lg">
	<button type="button" data-lang="{{ language }}" class="btn btn-light btn-lg"><i class="fas fa-search"></i></button>
</div>
