html {
	overflow: -moz-scrollbars-vertical;
	margin: 0;
	padding: 0;
}
* {
	font-family: Arial, Verdana, sans-serif;
}
body {
	margin: 0px;
	padding: 0px;
	background: #F6F6F6 url('../image/background.png');
}
body, p, td, th, input, textarea, select, option {
	color: #777777;
	text-decoration: none;
	font-size: 13px;
}
#container > h1 {
	background: url('../image/heading.png') repeat-y;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 26px 27px;
	margin-top: 0px;
	margin-bottom: 25px;
	color: #FFF;
	vertical-align: middle;
}
p {
	margin-top: 0px;
	margin-bottom: 20px;
}
p, ul, ol, li, td {
	line-height: 18px;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}
fieldset {
	border: 1px solid #DBDBDB;
	padding: 10px;
	margin-bottom: 20px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
fieldset table {
	width: 100%;
	border-collapse: collapse;
}
fieldset table.form tr td:first-child {
	width: 250px;
}
fieldset table td {
	padding: 5px;
}
select, input[type='text'], input[type='password'], textarea {
	background: #FFFFFF url('../image/field.png') repeat-x;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #DBDBDB;
	padding: 4px;
	color: #000;
}
option {
	color: #000;
}
a, a:visited, a b {
	color: #23A1D1;
	text-decoration: underline;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
img {
	margin: 0;
	padding: 0;
}
a img {
	border: none;
}
b, strong {
	color: #555;
}
label {
	cursor: pointer;
}
#container {
	width: 960px;
	margin: 0 auto;
}
#header {
	height: 100px;
	position: relative;
}
#header #logo {
	position: absolute;
	left: 3px;
	top: 26px;
	width: 264px;
	height: 50px;
}
#column-right {
	float: right;
	width: 284px;
	margin-left: 30px;
	margin-bottom: 20px;
	min-height: 350px;
}
#column-right ul, #column-right ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
#column-right ul ul {
	margin-left: 30px;
}
#column-right ul a, #column-right ul a b {
	color: #777777;
	text-decoration: none;
}
#column-right ul li {
	display: block;
	padding: 0px 8px 8px 22px;
	margin-bottom: 8px;
	border-bottom: 1px solid #DBDBDB;
	background: url('../image/bullet-arrow.png') 0px 5px no-repeat;
}
#content {
	margin-bottom: 20px;
	overflow: hidden;
	min-height: 350px;
}
.warning {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	color: #555555;
}
.required {
	color: #F00;
}
.error {
	color: #F00;
}
.good {
	color: #0F0;
}
.bad {
	color: #F00;
}
a.button, input.button {
	cursor: pointer;
	color: #FFF;
	font-size: 13px;
	border: 1px solid #78883C;
	background: url('../image/button.png') repeat-x;
	text-shadow: 0px -1px #7A8A3D;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 1px 2px 2px #DDDDDD;
	-moz-box-shadow: 1px 2px 2px #DDDDDD;
	box-shadow: 1px 2px 2px #DDDDDD;
	margin-bottom: 2px;
}
a.button:hover, input.button:hover {
	text-shadow: 0px -1px #626F30;
	border: 1px solid #606D30;
	background-position: 0px -26px;
}
a.button {
	display: inline-block;
	text-decoration: none;
	padding: 4px 11px 4px 11px;
}
input.button {
	margin: 0;
	height: 24px;
	padding: 0px 11px 0px 11px;
	height: 28px;
}
.buttons {
	border: 1px solid #DBDBDB;
	overflow: auto;
	padding: 6px;
	margin-bottom: 20px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
/* Terms */
.terms {
	background: #FFFFFF;
	border: 1px solid #DBDBDB;
	margin: 3px 0px 10px 0px;
	padding: 4px;
	height: 250px;
	overflow-y: scroll;
}
.terms p, .terms ul, .terms ol {
	color: #000000;
}
.success {
	overflow: auto;
	margin-bottom: 15px;
}
.success div {
	text-align: center;
	float: left;
	width: 50%;
	float: left;
}
.success img {
	border: 1px solid #DDDDDD;
	padding: 5px;
	background: #FFF;
	margin-bottom: 3px;
	width: 270px;
}
#footer {
	text-align: center;
	margin-bottom: 25px;
}
#footer a {
	margin: 0px 5px;
	line-height: 28px;
}
