<div class="col-lg-6 col-md-12 col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-amazon"></i> Add Amazon Pay today on your site, quickly, easily and with no cost to get started.</h3>
    </div>
    <div class="panel-body">
      <p>{{ text_promotion }}</p>
      <p class="text-center"><a href="https://pay.amazon.com/uk/sp/opencart" target="_blank" title="{{ text_signup }}"><img src="view/image/payment/amazonpay.png" alt="Amazon Pay" title="Amazon Pay" style="border: 1px solid #EEEEEE;"/></a></p>
      <p class="text-center"><a href="https://pay.amazon.com/uk/sp/opencart" target="_blank" title="{{ text_signup }}">{{ text_signup }}</a></p>
    </div>
  </div>
</div>