<form>
	<div id="fastlane_payment_container"></div><br />
	<div class="text-center">
		<button type="button" id="fastlane_button" class="button-confirm btn btn-primary">{{ button_confirm }}</button>
	</div>
</form>