<div id="fastlane_customer" class="fastlane-customer clearfix">
	<div class="form-group required">
		<label class="control-label" for="input_email">{{ entry_email }}</label>
		<input type="text" name="email" value="" placeholder="{{ entry_email }}" id="input_email" class="form-control" />
		<div class="watermark">
			<div id="watermark_container" class="watermark-container"></div>
		</div>
	</div>
	<button type="button" class="button-confirm btn btn-primary" disabled="true">{{ button_continue }}</button>
</div>