<div id="cookie" class="alert alert-warning rounded-0 mb-0">
  <div class="container text-center"><i class="fas fa-exclamation-triangle"></i> {{ text_cookie }} <a href="{{ cookie }}" id="button-cookie" class="btn btn-warning btn-sm">Learn more</a>
    <button type="button" class="close" data-dismiss="alert">&times;</button></div>
</div>