<div id="cookie" class="alert alert-warning rounded-0 mb-0">
  <div class="container text-center">{{ text_cookie }} <a href="{{ cookie }}" id="button-cookie" data-loading-text="{{ text_loading }}" class="btn btn-warning btn-sm">{{ button_close }}</a></div>
</div>