<div id="search" class="input-group mb-3">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control" aria-label="search">
  <div class="input-group-append">
    <button type="button" class="btn btn-light btn-lg"><i class="fa fa-search"></i></button>
  </div>
</div>
