<h1>{{ heading_title }}</h1>
<div class="row">
  <div class="col-sm-6">
    <ul>
      {% for category in categories %}
        <li><a href="catalog/category.js?path={{ category.path }}">{{ category.name }}</a>
          {% if category.children %}
            <ul>
              {% for children in category.children %}
                <li><a href="catalog/category.js?path={{ children.path }}">{{ children.name }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-sm-6">
    <ul>
      <li><a href="catalog/search.js">{{ text_search }}</a></li>
      <li><a href="catalog/special.js">{{ text_special }}</a></li>
      <li><a href="account/account.js">{{ text_account }}</a>
        <ul>
          <li><a href="account/edit.js">{{ text_edit }}</a></li>
          <li><a href="account/password.js">{{ text_password }}</a></li>
          <li><a href="account/address.js">{{ text_address }}</a></li>
          <li><a href="account/history.js">{{ text_history }}</a></li>
          <li><a href="account/download.js">{{ text_download }}</a></li>
        </ul>
      </li>
      <li><a href="checkout/cart.js">{{ text_cart }}</a></li>
      <li><a href="checkout/checkout.js">{{ text_checkout }}</a></li>
      <li>{{ text_information }}
        <ul>
          {% for information in informations %}
            <li><a href="catalog/information.js?information_id={{ information.information_id }}">{{ information.title }}</a></li>
          {% endfor %}
          <li><a href="information/contact.js">{{ text_contact }}</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
