{templateType ApiGen\Renderer\Latte\Template\SourceTemplate}
{import '../blocks/@index.latte'}

{embed layout}
	{block title}File {relativePath($path)}{/block}

	{block content}
		{include source, $path}
	{/block}
{/embed}
