<footer id="footer">{{ text_footer }}<br/>{{ text_version }}</footer></div>
<script src="{{ bootstrap }}" type="text/javascript"></script>
<script src="./view/javascript/framework/webcomponent.js" type="module"></script>
</body></html>
