<footer id="footer">{{ text_footer }}<br/>{{ text_version }}</footer></div>
{% for script in scripts %}
  <script type="text/javascript" src="{{ script.href }}"></script>
{% endfor %}
<script type="module" src="../assets/webcomponent/webcomponent.js"></script>
</body></html>
