<footer id="footer">
  {{ text_footer }}
  <br/>{{ text_version }}
</footer>
</div>
<script src="../assets/bootstrap/js/bootstrap.bundle.min.js" type="module"></script>
<script src="./view/javascript/index.js" type="module"></script>
{% for script in scripts %}
  <script src="{{ script.href }}" type="module"></script>
{% endfor %}
</body>
</html>