<footer id="footer">{{ text_footer }}
  <br/>{{ text_version }}</footer>
</div>
<script src="./view/javascript/framework.js" type="module"></script>
<script src="../assets/jquery/jquery-3.7.1.min.js" type="text/javascript"></script>
<script src="../assets/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
<script src="view/javascript/common.js" type="text/javascript"></script>
{% for script in scripts %}
  <script src="{{ script.href }}" type="text/javascript"></script>
{% endfor %}
</body>
</html>